# 선수 데이터 전처리

##### 라이브러리 불러오기

In [314]:
import numpy as np
import pandas as pd
from tqdm import tqdm

## 1. 데이터 전처리

### 1.1 기존 선수 정보

#### 1.1.0 데이터 불러오기 및 확인

In [4]:
# 데이터 불러오기
data_1 = pd.read_csv('/Users/krc/Desktop/FIFA_Project_Personal/crawling/data/player_info/player_db_original.csv')
data_1.tail(3)

,name,pay_side,position,overall,pomation,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,Stamina,Aggression,Jumping,Composure,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price
60001,M. 구스토,12,RB,83,74\n79\n77\n79\n78\n81\n78\n81\n80\n83\n78\n83...,"특성\n슬라이딩 태클 선호, 스피드 드리블러",2003.05.19 (20세),179cm,74kg,마름,...,91,84,79,83,27,24,31,28,26,"3,700,000 BP"
60002,G. 마마르다슈빌리,12,GK,85,41\n37\n39\n37\n37\n39\n37\n39\n36\n37\n37\n37...,특성\nGK 적극적 크로스 수비,2000.09.29 (23세),199cm,88kg,마름,...,58,40,65,41,88,87,83,88,89,"3,740,000 BP"
60003,반데르송,13,RM,83,79\n83\n81\n83\n82\n83\n81\n83\n80\n82\n79\n82...,"특성\n얼리 크로스 선호, 테크니컬 드리블러",2001.06.21 (22세),180cm,74kg,마름,...,84,81,67,82,25,25,23,24,23,"3,390,000 BP"

In [5]:
# 컬럼 확인
print(data_1.columns)
print('\n'*2,'+ - '*30+'+','\n'*2)

# 결측값 확인
print(data_1.isna().sum().sort_values())

Index(['name', 'pay_side', 'position', 'overall', 'pomation', 'skill_swap',
       'etc_birth', 'etc_height', 'etc_weight', 'etc_physical', 'etc_skill',
       'etc_foot', 'etc_nation', 'Sprint_speed', 'Acceleration', 'Finishing',
       'Shot_power', 'Long_shots', 'Positioning', 'Volleys', 'Penalties',
       'Short_pass', 'Eyesight', 'Crossing', 'Long_pass', 'FK_Acc', 'Curve',
       'Dribbling', 'Ball_control', 'Agility', 'Balance', 'Reflexes',
       'Interpersonal_defense', 'Stand_tackle', 'Interception', 'Heading',
       'Slide_tackle', 'Strength', 'Stamina', 'Aggression', 'Jumping',
       'Composure', 'GK_Diving', 'GK_Handling', 'GK_Kicking', 'GK_Reflexes',
       'GK_Positioning', 'price'],
      dtype='object')


 + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - +


name                     0
Curve                    0
Dribbling                0
Ball_control             0
Agility                  0
Balance                  0
Reflexes                 0
Interpersonal_defense    0
Stand_tackle             0
Interception             0
FK_Acc                   0
Heading                  0
Strength                 0
Stamina                  0
Aggression               0
Jumping                  0
Composure                0
GK_Diving                0
GK_Handling              0
GK_Kicking               0
GK_Reflexes              0
Slide_tackle             0
Long_pass                0
Crossing                 0
Eyesight                 0
pay_side                 0
position                 0
overall                  0
pomation                 0
skill_swap               0
etc_birth                0
etc_height               0
etc_weight               0
etc_physical             0
etc_skill                0
etc_foot                 0
Sprint_speed             0
Acceleration             0
Finishing                0
Shot_power               0
Long_shots               0
Positioning              0
Volleys                  0
Penalties                0
Short_pass               0
GK_Positioning           0
price                    0
etc_nation               3
dtype: int64

#### 1.1.1 소속 국가 없는 선수들 수정

In [6]:
# 해당 선수 검색
data_1[data_1.etc_nation.isnull() ] # P. 치라이스: 독일   /   N. 오포보어: 나이지리아   /   메리 데미랄: 튀르키예

,name,pay_side,position,overall,pomation,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,Stamina,Aggression,Jumping,Composure,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price
11561,P. 치라이스,5,CB,64,44\n48\n46\n48\n48\n51\n51\n51\n60\n59\n64\n59...,특성\n유리몸,1993.03.14 (30세),189cm,82kg,마름,...,51,67,69,63,12,11,11,10,11,"1,010 BP"
17795,N. 오포보어,5,CDM,59,55\n55\n56\n55\n57\n56\n57\n56\n59\n57\n60\n57...,특성,1999.11.07 (24세),175cm,80kg,건장,...,67,66,78,55,10,12,11,10,15,"1,000 BP"
59895,메리 데미랄,14,CB,87,66\n63\n64\n63\n64\n65\n68\n65\n80\n77\n87\n77...,"특성\n슬라이딩 태클 선호, 파워 헤더",1998.03.05 (25세),190cm,86kg,보통,...,79,94,82,84,32,25,30,28,24,"5,040,000 BP"

In [7]:
# 수정
data_1.etc_nation.iloc[11561] = '독일'
data_1.etc_nation.iloc[17795] = '나이지리아'
data_1.etc_nation.iloc[59895] = '튀르키예'

# 확인
data_1[data_1.etc_nation.isnull() ]

/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_35039/1464126522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.etc_nation.iloc[11561] = '독일'
/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_35039/1464126522.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.etc_nation.iloc[17795] = '나이지리아'
/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_35039/1464126522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.etc_nation.iloc[59895] = '튀르키예'

Empty DataFrame
Columns: [name, pay_side, position, overall, pomation, skill_swap, etc_birth, etc_height, etc_weight, etc_physical, etc_skill, etc_foot, etc_nation, Sprint_speed, Acceleration, Finishing, Shot_power, Long_shots, Positioning, Volleys, Penalties, Short_pass, Eyesight, Crossing, Long_pass, FK_Acc, Curve, Dribbling, Ball_control, Agility, Balance, Reflexes, Interpersonal_defense, Stand_tackle, Interception, Heading, Slide_tackle, Strength, Stamina, Aggression, Jumping, Composure, GK_Diving, GK_Handling, GK_Kicking, GK_Reflexes, GK_Positioning, price]
Index: []

[0 rows x 48 columns]

#### 1.1.2 국가가 잘못 기입된 선수 수정

In [8]:
# ', 국가대표'라고 입력된 값 찾기
data_1[data_1.etc_nation.str.contains(', 국가대표') == True]

,name,pay_side,position,overall,pomation,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,Stamina,Aggression,Jumping,Composure,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price
1491,크리스티아누 호날두,26,ST,104,104\n101\n102\n101\n100\n100\n92\n100\n74\n76\...,"특성\n강철몸, 개인 플레이 선호, 중거리 슛 선호, 파워 헤더, 아웃사이드 슈팅/...",1985.02.05 (38세),187cm,83kg,보통(고유),...,96,98,107,110,13,15,17,15,19,"15,500,000,000 BP"
1497,세르히오 라모스,15,CB,88,79\n76\n78\n76\n79\n78\n82\n78\n87\n82\n88\n82...,"특성\n유리몸, 슬라이딩 태클 선호, 긴 패스 선호, 파워 헤더",1986.03.30 (37세),184cm,82kg,보통(고유),...,81,95,94,86,15,15,13,17,12,"7,860,000 BP"
1498,엑토르 에레라,13,CM,83,79\n79\n81\n79\n81\n80\n83\n80\n83\n80\n81\n80...,특성\n강철몸,1990.04.19 (33세),185cm,78kg,보통,...,94,87,79,82,20,19,19,20,21,"784,000 BP"
1500,리오넬 메시,24,RW,104,101\n104\n104\n104\n104\n103\n97\n103\n75\n77\...,"특성\n주발 선호, 예리한 감아차기, 중거리 슛 선호, 플레이 메이커, 테크니컬 드리블러",1987.06.24 (36세),170cm,72kg,마름(고유),...,93,73,85,108,16,15,13,13,14,"175,000,000 BP"
1506,카림 벤제마,24,CF,107,107\n106\n107\n106\n107\n105\n102\n105\n89\n88...,"특성\n예리한 감아차기, 중거리 슛 선호, 플레이 메이커, 테크니컬 드리블러",1987.12.19 (36세),185cm,81kg,보통,...,103,91,103,110,19,19,16,16,19,"34,800,000,000 BP"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59990,비티냐,15,CM,87,78\n86\n84\n86\n87\n86\n87\n86\n83\n83\n74\n83...,"특성\n예리한 감아차기, 화려한 개인기, 중거리 슛 선호, 플레이 메이커, 테크니컬...",2000.02.13 (23세),173cm,65kg,마름,...,84,65,67,90,28,29,25,22,22,"5,390,000 BP"
59993,F. 비르츠,17,CAM,90,82\n89\n88\n89\n90\n90\n87\n90\n77\n78\n67\n78...,"특성\n화려한 개인기, 플레이 메이커, 아웃사이드 슈팅/크로스, 칩슛 선호, 테크니...",2003.05.03 (20세),176cm,72kg,보통,...,88,74,64,89,30,30,29,26,23,"10,900,000 BP"
59995,J. 무시알라,15,CM,95,91\n96\n96\n96\n97\n96\n95\n96\n89\n90\n82\n90...,특성\n테크니컬 드리블러,2003.02.26 (20세),183cm,70kg,마름,...,94,78,74,98,31,34,33,35,33,"10,300,000 BP"
59997,A. 슈타흐,14,CM,83,81\n80\n81\n80\n81\n81\n83\n81\n84\n82\n83\n82...,특성\n중거리 슛 선호,1998.11.15 (25세),194cm,88kg,보통,...,87,81,75,77,23,29,24,26,23,"3,870,000 BP"
60000,K. 야키치,14,CDM,83,75\n73\n75\n73\n76\n75\n79\n75\n83\n79\n82\n79...,특성,1997.05.14 (26세),181cm,75kg,보통,...,93,93,74,79,25,25,21,25,25,"3,560,000 BP"

In [9]:
# 수정 및 확인
data_1.etc_nation = data_1.etc_nation.str.replace(', 국가대표','')
data_1[data_1.etc_nation.str.contains(', 국가대표') == True]

Empty DataFrame
Columns: [name, pay_side, position, overall, pomation, skill_swap, etc_birth, etc_height, etc_weight, etc_physical, etc_skill, etc_foot, etc_nation, Sprint_speed, Acceleration, Finishing, Shot_power, Long_shots, Positioning, Volleys, Penalties, Short_pass, Eyesight, Crossing, Long_pass, FK_Acc, Curve, Dribbling, Ball_control, Agility, Balance, Reflexes, Interpersonal_defense, Stand_tackle, Interception, Heading, Slide_tackle, Strength, Stamina, Aggression, Jumping, Composure, GK_Diving, GK_Handling, GK_Kicking, GK_Reflexes, GK_Positioning, price]
Index: []

[0 rows x 48 columns]

#### 1.1.3 포메이션 별 오버롤 입력

In [14]:
data_1.pomation.iloc[2].split('\n')

['101',
 '93',
 '97',
 '93',
 '93',
 '91',
 '85',
 '91',
 '71',
 '69',
 '68',
 '69',
 '66',
 '69',
 '66',
 '24']

In [20]:
# 포지션 별 오버롤 입력
ST, LW, CF, RW, CAM, LM, CM, RM, CDM, LWB, CB, RWB, LB, SW, RB, GK = [],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[]

for index in range(len(data_1)):
    ST.append(data_1.pomation.iloc[index].split('\n')[0])
    LW.append(data_1.pomation.iloc[index].split('\n')[1])
    CF.append(data_1.pomation.iloc[index].split('\n')[2])
    RW.append(data_1.pomation.iloc[index].split('\n')[3])
    CAM.append(data_1.pomation.iloc[index].split('\n')[4])
    LM.append(data_1.pomation.iloc[index].split('\n')[5])
    CM.append(data_1.pomation.iloc[index].split('\n')[6])
    RM.append(data_1.pomation.iloc[index].split('\n')[7])
    CDM.append(data_1.pomation.iloc[index].split('\n')[8])
    LWB.append(data_1.pomation.iloc[index].split('\n')[9])
    CB.append(data_1.pomation.iloc[index].split('\n')[10])
    RWB.append(data_1.pomation.iloc[index].split('\n')[11])
    LB.append(data_1.pomation.iloc[index].split('\n')[12])
    SW.append(data_1.pomation.iloc[index].split('\n')[13])
    RB.append(data_1.pomation.iloc[index].split('\n')[14])
    GK.append(data_1.pomation.iloc[index].split('\n')[15])

data_1['ST'] = ST
data_1['LW'] = LW
data_1['CF'] = CF
data_1['RW'] = RW
data_1['CAM'] = CAM
data_1['LM'] = LM
data_1['CM'] = CM
data_1['RM'] = RM
data_1['CDM'] = CDM
data_1['LWB'] = LWB
data_1['CB'] = CB
data_1['RWB'] = RWB
data_1['LB'] = LB
data_1['SW'] = SW
data_1['RB'] = RB
data_1['GK'] = GK

data_1.drop(columns = ['pomation'], inplace=True)
data_1

,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,etc_skill,...,CM,RM,CDM,LWB,CB,RWB,LB,SW,RB,GK
0,크리스티안 겐트너,20,LM,99,"특성\n유리몸, 슬라이딩 태클 선호",1985.08.14 (38세),189cm,81kg,보통,★★★,...,99,99,99,99,98,99,98,97,98,27
1,하비 가르시아,18,CDM,95,특성\n파워 헤더,1987.02.08 (36세),185cm,80kg,보통,★★★,...,92,88,95,91,95,91,92,95,92,22
2,요렌테,21,ST,101,특성\n파워 헤더,1985.02.26 (38세),195cm,90kg,보통,★★★,...,85,91,71,69,68,69,66,69,66,24
3,무사 뎀벨레,20,CF,98,"특성\n화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16 (36세),185cm,78kg,보통,★★★★,...,93,97,86,86,82,86,84,82,84,29
4,K. 엘아흐마디,17,CM,95,특성\n중거리 슛 선호,1985.01.27 (38세),179cm,78kg,보통,★★★,...,95,90,95,91,91,91,90,90,90,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59999,A. 크나우프,13,RM,84,특성\n스피드 드리블러,2002.01.10 (21세),180cm,73kg,마름,★★★,...,79,84,72,76,67,76,74,66,74,33
60000,K. 야키치,14,CDM,83,특성,1997.05.14 (26세),181cm,75kg,보통,★★,...,79,75,83,79,82,79,79,82,79,30
60001,M. 구스토,12,RB,83,"특성\n슬라이딩 태클 선호, 스피드 드리블러",2003.05.19 (20세),179cm,74kg,마름,★★★,...,78,81,80,83,78,83,83,78,83,32
60002,G. 마마르다슈빌리,12,GK,85,특성\nGK 적극적 크로스 수비,2000.09.29 (23세),199cm,88kg,마름,★,...,37,39,36,37,37,37,37,37,37,85
60003,반데르송,13,RM,83,"특성\n얼리 크로스 선호, 테크니컬 드리블러",2001.06.21 (22세),180cm,74kg,마름,★★★,...,81,83,80,82,79,82,82,79,82,30

#### 1.1.4 특성 정리

In [27]:
# 특성 정리
for index in range(len(data_1)):
    data_1.skill_swap.iloc[index] =  data_1.skill_swap.iloc[index].replace('특성','').replace('\n','')

data_1

/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_35039/3122099180.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.skill_swap.iloc[index] =  data_1.skill_swap.iloc[index].replace('특성','').replace('\n','')

,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,etc_skill,...,CM,RM,CDM,LWB,CB,RWB,LB,SW,RB,GK
0,크리스티안 겐트너,20,LM,99,"유리몸, 슬라이딩 태클 선호",1985.08.14 (38세),189cm,81kg,보통,★★★,...,99,99,99,99,98,99,98,97,98,27
1,하비 가르시아,18,CDM,95,파워 헤더,1987.02.08 (36세),185cm,80kg,보통,★★★,...,92,88,95,91,95,91,92,95,92,22
2,요렌테,21,ST,101,파워 헤더,1985.02.26 (38세),195cm,90kg,보통,★★★,...,85,91,71,69,68,69,66,69,66,24
3,무사 뎀벨레,20,CF,98,"화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16 (36세),185cm,78kg,보통,★★★★,...,93,97,86,86,82,86,84,82,84,29
4,K. 엘아흐마디,17,CM,95,중거리 슛 선호,1985.01.27 (38세),179cm,78kg,보통,★★★,...,95,90,95,91,91,91,90,90,90,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59999,A. 크나우프,13,RM,84,스피드 드리블러,2002.01.10 (21세),180cm,73kg,마름,★★★,...,79,84,72,76,67,76,74,66,74,33
60000,K. 야키치,14,CDM,83,,1997.05.14 (26세),181cm,75kg,보통,★★,...,79,75,83,79,82,79,79,82,79,30
60001,M. 구스토,12,RB,83,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19 (20세),179cm,74kg,마름,★★★,...,78,81,80,83,78,83,83,78,83,32
60002,G. 마마르다슈빌리,12,GK,85,GK 적극적 크로스 수비,2000.09.29 (23세),199cm,88kg,마름,★,...,37,39,36,37,37,37,37,37,37,85
60003,반데르송,13,RM,83,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21 (22세),180cm,74kg,마름,★★★,...,81,83,80,82,79,82,82,79,82,30

#### 1.1.5 단위 정리

In [29]:
# 이외의 데이터 정리

# 출력 갯수 제한 해제
pd.set_option('display.max_columns',None)


birth, height, weight,star ,sliding_tackle,prefer_foot,price_non_bp = [], [], [], [], [], [], []

for index in range(len(data_1)):
    # 개인기 등급
    temp_num_1 = str(len(data_1.etc_skill.iloc[index]))
    star.append(temp_num_1)
    
    # 슬라이딩 태클
    temp_num_2 = data_1.Slide_tackle.iloc[index].split('\n')[-1]
    sliding_tackle.append(temp_num_2)
    
    # 주발 설정
    if data_1.etc_foot.iloc[index].split(' – ')[0][-1] == data_1.etc_foot.iloc[index].split(' – ')[1][-1]:
        prefer_foot.append('both')
    elif data_1.etc_foot.iloc[index].split(' – ')[0][-1] > data_1.etc_foot.iloc[index].split(' – ')[1][-1]:
        prefer_foot.append('left')
    else:
        prefer_foot.append('right')
        
    # 생일
    birth.append(data_1.etc_birth.iloc[index].split('(')[0].rstrip())
    
    # 키
    height.append(data_1.etc_height.iloc[index].split('c')[0])
    
    # 몸무게
    weight.append(data_1.etc_weight.iloc[index].split('k')[0])
    
    price_non_bp.append(data_1.price.iloc[index].split('B')[0])

# 수정된 값으로 기입
data_1.Slide_tackle = sliding_tackle
data_1.etc_skill = star
data_1.etc_foot = prefer_foot
data_1.etc_birth = birth
data_1.etc_height = height
data_1.etc_weight = weight
data_1.price = price_non_bp

data_1.head(7)

,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,etc_skill,etc_foot,etc_nation,Sprint_speed,Acceleration,Finishing,Shot_power,Long_shots,Positioning,Volleys,Penalties,Short_pass,Eyesight,Crossing,Long_pass,FK_Acc,Curve,Dribbling,Ball_control,Agility,Balance,Reflexes,Interpersonal_defense,Stand_tackle,Interception,Heading,Slide_tackle,Strength,Stamina,Aggression,Jumping,Composure,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price,ST,LW,CF,RW,CAM,LM,CM,RM,CDM,LWB,CB,RWB,LB,SW,RB,GK
0,크리스티안 겐트너,20,LM,99,"유리몸, 슬라이딩 태클 선호",1985.08.14,189,81,보통,3,right,독일,97,86,89,106,95,101,90,89,96,97,99,97,77,94,104,102,82,92,106,101,94,104,96,94,102,109,96,90,96,12,10,23,22,27,"38,600,000",98,97,98,97,97,99,99,99,99,99,98,99,98,97,98,27
1,하비 가르시아,18,CDM,95,파워 헤더,1987.02.08,185,80,보통,3,right,스페인,86,83,76,96,90,81,62,80,96,86,76,96,83,85,86,98,83,92,90,93,93,94,100,92,97,105,106,105,94,9,14,24,11,18,"13,500,000",88,86,88,86,88,88,92,88,95,91,95,91,92,95,92,22
2,요렌테,21,ST,101,파워 헤더,1985.02.26,195,90,보통,3,right,스페인,87,87,110,92,86,110,91,96,90,80,67,77,60,87,94,103,82,100,99,47,34,38,112,35,109,90,103,94,100,14,23,26,9,13,"63,800,000",101,93,97,93,93,91,85,91,71,69,68,69,66,69,66,24
3,무사 뎀벨레,20,CF,98,"화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16,185,78,보통,4,left,벨기에,100,98,95,98,98,92,95,84,94,85,84,93,77,86,108,111,95,109,90,76,72,70,90,70,101,97,85,87,109,27,24,22,12,26,"19,100,000",97,97,98,97,97,97,93,97,86,86,82,86,84,82,84,29
4,K. 엘아흐마디,17,CM,95,중거리 슛 선호,1985.01.27,179,78,보통,3,right,모로코,81,86,78,92,88,84,78,90,100,93,79,101,69,86,91,98,92,85,96,81,93,98,81,91,91,94,100,86,93,14,17,20,13,25,"8,740,000",87,89,90,89,92,90,95,90,95,91,91,91,90,90,90,26
5,주앙 무티뉴,21,CM,100,"강철몸, 플레이 메이커",1986.09.08,171,75,보통,3,right,포르투갈,94,96,88,105,97,97,89,93,105,98,100,108,103,102,104,107,102,110,97,96,93,82,90,94,85,102,98,96,104,10,17,11,12,20,"41,000,000",96,99,99,99,100,100,100,100,97,97,92,97,95,93,95,23
6,홀란두,19,CB,98,파워 헤더,1985.08.31,190,80,마름,2,right,포르투갈,87,88,60,81,69,49,60,60,91,83,58,91,64,63,73,79,78,83,98,101,102,93,104,102,102,88,97,90,86,27,23,24,13,14,"18,000,000",77,74,76,74,78,77,84,77,93,88,98,88,91,98,91,28

### 1.2 시즌 & 소속팀 선수 정보

#### 1.2.0 데이터 불러오기 및 확인

In [31]:
# 데이터 불러오기
data_2 = pd.read_csv('/Users/krc/Desktop/FIFA-Online-4/crawling/player_info_crawler/data/player_db.csv')
data_2.tail(3)

           name  overall season team        team_now  Stamina         pk
48527   네리 도밍게스       67     21  NaN  라싱 클루브 데 아베야네다       63  321216054
48528   미구엘 반 담       56     21  NaN        세르클러 브루게       19  321216106
48529  D. 화이트해드       55     21  NaN             NaN       60  321216111

In [32]:
# 컬럼 확인
print(data_2.columns)
print('\n'*2,'+ - '*30+'+','\n'*2)

# 결측값 확인
print(data_2.isna().sum())

Index(['name', 'overall', 'season', 'team', 'team_now', 'Stamina', 'pk'], dtype='object')


 + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - +


name            0
overall         0
season          0
team        36244
team_now     9707
Stamina         0
pk              0
dtype: int64

#### 1.2.1 소속팀 없는 선수 걸러내기

In [33]:
# 현재 & 과거 소속팀 기록 둘 다 없는 선수 불러오기
temp_1 = data_2[((data_2.team.isnull()) & (data_2.team_now.isnull())) | ((data_2.team.isnull()) & (data_2.team_now == '-')) ]     # 다시 크롤링..? 
temp_1

            name  overall season team team_now  Stamina         pk
649       티아고 모타       80    NHD  NaN        -       77  201049370
661      C. 벤 사다       63    NHD  NaN        -       58  201111503
662    야로슬라프 플라실       73    NHD  NaN        -       79  201112244
669      슈테판 키슬링       77    NHD  NaN        -       79  201137262
671      로베르트 후트       76    NHD  NaN        -       82  201137785
...          ...      ...    ...  ...      ...      ...        ...
48507    F. 히어켄스       63     21  NaN      NaN       71  321215527
48514        사미르       67     21  NaN      NaN       61  321215651
48523    M. 달 헤네       59     21  NaN      NaN       71  321215938
48524  C. 스트란드버그       65     21  NaN      NaN       70  321215965
48529   D. 화이트해드       55     21  NaN      NaN       60  321216111

[8661 rows x 7 columns]

In [34]:
temp_2 = temp_1[(temp_1.season != '21') & (temp_1.season != '20')& (temp_1.season != '19')& (temp_1.season != '18')& (temp_1.season != '17')& (temp_1.season != 'LIVE')]

# temp_2.to_csv("재크롤링필요.csv", index = False)
temp_2

           name  overall   season team team_now  Stamina         pk
649      티아고 모타       80      NHD  NaN        -       77  201049370
661     C. 벤 사다       63      NHD  NaN        -       58  201111503
662   야로슬라프 플라실       73      NHD  NaN        -       79  201112244
669     슈테판 키슬링       77      NHD  NaN        -       79  201137262
671     로베르트 후트       76      NHD  NaN        -       82  201137785
...         ...      ...      ...  ...      ...      ...        ...
2544  마르셀루 고이아누       90   19TOTS  NaN      NaN       97  215216373
2564       소아리스       91   19TOTS  NaN      NaN       88  215227476
3183        사무엘       78      OTW  NaN      NaN       82  218209017
9034        정호진       71  2019KFA  NaN        -       75  295251160
9035         최준       71  2019KFA  NaN        -       77  295251161

[116 rows x 7 columns]

In [35]:
# NHD 시즌 같은 경우 클럽 소속팀이 아에 기입되지 않음 >> 다른 시즌 카드와 비교하여 기입 필요!
temp_2_re = pd.read_csv('/Users/krc/Desktop/FIFA-Online-4/modeling/data/player_reCrawling_db.csv')
temp_2_re

            pk           team  team_now
0    201049370              -       NaN
1    201111503              -       NaN
2    201112244              -       NaN
3    201137262              -       NaN
4    201137785              -       NaN
..         ...            ...       ...
111  215216373  데미르 그룹 시바스스포르       NaN
112  215227476            NaN       NaN
113  218209017      전북 현대 모터스       NaN
114  295251160              -       NaN
115  295251161              -       NaN

[116 rows x 3 columns]

In [36]:
temp_2_re.isnull().sum()

pk            0
team          2
team_now    116
dtype: int64

In [37]:
# 재크롤링 결과 저장
temp_2_result = pd.merge(temp_2,temp_2_re, how = 'inner', on=['pk'] )
temp_2_result

,name,overall,season,team_x,team_now_x,Stamina,pk,team_y,team_now_y
0,티아고 모타,80,NHD,NaN,-,77,201049370,-,NaN
1,C. 벤 사다,63,NHD,NaN,-,58,201111503,-,NaN
2,야로슬라프 플라실,73,NHD,NaN,-,79,201112244,-,NaN
3,슈테판 키슬링,77,NHD,NaN,-,79,201137262,-,NaN
4,로베르트 후트,76,NHD,NaN,-,82,201137785,-,NaN
...,...,...,...,...,...,...,...,...,...
111,마르셀루 고이아누,90,19TOTS,NaN,NaN,97,215216373,데미르 그룹 시바스스포르,NaN
112,소아리스,91,19TOTS,NaN,NaN,88,215227476,NaN,NaN
113,사무엘,78,OTW,NaN,NaN,82,218209017,전북 현대 모터스,NaN
114,정호진,71,2019KFA,NaN,-,75,295251160,-,NaN
115,최준,71,2019KFA,NaN,-,77,295251161,-,NaN

In [38]:
# 결측치 수정 & 필요없는 컬럼 제거
print(temp_2_result.isnull().sum())
print('\n'*2,'+ - '*30+'+','\n'*2)

temp_2_result.drop(columns = ['team_x','team_now_y','team_now_x'], inplace=True)
temp_2_result.team_y = temp_2_result.team_y.fillna('-')
print(temp_2_result.isnull().sum())

name            0
overall         0
season          0
team_x        116
team_now_x      8
Stamina         0
pk              0
team_y          2
team_now_y    116
dtype: int64


 + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - +


name       0
overall    0
season     0
Stamina    0
pk         0
team_y     0
dtype: int64

In [39]:
# data_2과 같은 dataframe 모양으로 수정
temp_2_result.rename(columns = {'team_y':'team_now'}, inplace=True)
temp_2_result['team'] = '-'
temp_2_result = temp_2_result[['name','overall','season','team','team_now','Stamina','pk']]
temp_2_result

          name  overall   season team       team_now  Stamina         pk
0       티아고 모타       80      NHD    -              -       77  201049370
1      C. 벤 사다       63      NHD    -              -       58  201111503
2    야로슬라프 플라실       73      NHD    -              -       79  201112244
3      슈테판 키슬링       77      NHD    -              -       79  201137262
4      로베르트 후트       76      NHD    -              -       82  201137785
..         ...      ...      ...  ...            ...      ...        ...
111  마르셀루 고이아누       90   19TOTS    -  데미르 그룹 시바스스포르       97  215216373
112       소아리스       91   19TOTS    -              -       88  215227476
113        사무엘       78      OTW    -      전북 현대 모터스       82  218209017
114        정호진       71  2019KFA    -              -       75  295251160
115         최준       71  2019KFA    -              -       77  295251161

[116 rows x 7 columns]

#### 1.2.2 팀 경력 정리 & 합쳐주기

In [40]:
# 소속팀이 기입된 데이터들
temp_3 = data_2[~(((data_2.team.isnull()) & (data_2.team_now.isnull())) | ((data_2.team.isnull()) & (data_2.team_now == '-')))]
temp_3

,name,overall,season,team,team_now,Stamina,pk
0,미첼 바이저,81,22PLA,2022 ~\n베르더 브레멘\n2018 ~ 2022\n바이엘 04 레버쿠젠\n202...,베르더 브레멘,82,511206591
1,솔리 마치,83,22PLA,2013 ~\n브라이턴 호브 앨비언,브라이턴 호브 앨비언,85,511206594
2,마테오 코바치치,90,22PLA,2019 ~\n첼시\n2015 ~ 2019\n레알 마드리드\n2018 ~ 2019\...,첼시,87,511207410
3,레안드로 트로사르,87,22PLA,2019 ~\n브라이턴 호브 앨비언\n2012 ~ 2019\nRC 겡크\n2015 ...,브라이턴 호브 앨비언,84,511207421
4,레안드로 파레데스,88,22PLA,2019 ~\n파리 생제르맹\n2022 ~\n유벤투스\n임대\n2017 ~ 2019...,유벤투스,84,511207439
...,...,...,...,...,...,...,...
48522,틴 예드바이,68,21,2021 ~\n로코모티브 모스크바\n2015 ~ 2021\n바이엘 04 레버쿠젠\n...,NaN,62,321215930
48525,L. 도스 산토스,60,21,NaN,발랑시엔 FC,67,321215969
48526,O. 베니테스,60,21,NaN,파트로나토,60,321215990
48527,네리 도밍게스,67,21,NaN,라싱 클루브 데 아베야네다,63,321216054
48528,미구엘 반 담,56,21,NaN,세르클러 브루게,19,321216106

In [41]:
# 재크롤링한 값들과 합쳐주기
temp_4 = pd.concat([temp_3,temp_2_result],axis=0)
temp_4

,name,overall,season,team,team_now,Stamina,pk
0,미첼 바이저,81,22PLA,2022 ~\n베르더 브레멘\n2018 ~ 2022\n바이엘 04 레버쿠젠\n202...,베르더 브레멘,82,511206591
1,솔리 마치,83,22PLA,2013 ~\n브라이턴 호브 앨비언,브라이턴 호브 앨비언,85,511206594
2,마테오 코바치치,90,22PLA,2019 ~\n첼시\n2015 ~ 2019\n레알 마드리드\n2018 ~ 2019\...,첼시,87,511207410
3,레안드로 트로사르,87,22PLA,2019 ~\n브라이턴 호브 앨비언\n2012 ~ 2019\nRC 겡크\n2015 ...,브라이턴 호브 앨비언,84,511207421
4,레안드로 파레데스,88,22PLA,2019 ~\n파리 생제르맹\n2022 ~\n유벤투스\n임대\n2017 ~ 2019...,유벤투스,84,511207439
...,...,...,...,...,...,...,...
111,마르셀루 고이아누,90,19TOTS,-,데미르 그룹 시바스스포르,97,215216373
112,소아리스,91,19TOTS,-,-,88,215227476
113,사무엘,78,OTW,-,전북 현대 모터스,82,218209017
114,정호진,71,2019KFA,-,-,75,295251160
115,최준,71,2019KFA,-,-,77,295251161

##### 1.2.2.1 NaN 값 정리

In [42]:
temp_4 = temp_4.fillna('-')
temp_4

,name,overall,season,team,team_now,Stamina,pk
0,미첼 바이저,81,22PLA,2022 ~\n베르더 브레멘\n2018 ~ 2022\n바이엘 04 레버쿠젠\n202...,베르더 브레멘,82,511206591
1,솔리 마치,83,22PLA,2013 ~\n브라이턴 호브 앨비언,브라이턴 호브 앨비언,85,511206594
2,마테오 코바치치,90,22PLA,2019 ~\n첼시\n2015 ~ 2019\n레알 마드리드\n2018 ~ 2019\...,첼시,87,511207410
3,레안드로 트로사르,87,22PLA,2019 ~\n브라이턴 호브 앨비언\n2012 ~ 2019\nRC 겡크\n2015 ...,브라이턴 호브 앨비언,84,511207421
4,레안드로 파레데스,88,22PLA,2019 ~\n파리 생제르맹\n2022 ~\n유벤투스\n임대\n2017 ~ 2019...,유벤투스,84,511207439
...,...,...,...,...,...,...,...
111,마르셀루 고이아누,90,19TOTS,-,데미르 그룹 시바스스포르,97,215216373
112,소아리스,91,19TOTS,-,-,88,215227476
113,사무엘,78,OTW,-,전북 현대 모터스,82,218209017
114,정호진,71,2019KFA,-,-,75,295251160
115,최준,71,2019KFA,-,-,77,295251161

##### 1.2.2.2 경력 정리

In [43]:
# 선수 팀 커리어 정리 함수
def club_career_remover(index_num):
    temp_5 = temp_4.team.iloc[index_num]
    temp_5 = temp_5.replace('임대','').replace('~','')
    temp_5 = temp_5.split('\n')
    temp_5 = list(filter(None, temp_5))

    temp_6 = []
    temp_7 = ''
    for x in range(len(temp_5)):
        if temp_5[0].startswith('1') or temp_5[0].startswith('2'):
            if x % 2 == 1:
                temp_6.append(temp_5[x])
        else:
            if x % 2 == 0:
                temp_6.append(temp_5[x])
                
        
    if temp_6 == ['-']:
        temp_6 = [temp_4.team_now.iloc[index_num]]
        
    elif temp_4.team_now.iloc[index_num] == '-':
        temp_6 = temp_6
    else:
        temp_6 = temp_6 + [temp_4.team_now.iloc[index_num]]
        
    temp_6 = list(set(temp_6))
    temp_7 = ' / '.join(s for s in temp_6)
            
    return temp_7

In [44]:
# 수정
temp_4['club_career'] = '-'

for index in range(len(temp_4)):
    temp_a = club_career_remover(index)
    temp_4.club_career.iloc[index] = temp_a
    
temp_4

/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_35039/1754443874.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_4.club_career.iloc[index] = temp_a

,name,overall,season,team,team_now,Stamina,pk,club_career
0,미첼 바이저,81,22PLA,2022 ~\n베르더 브레멘\n2018 ~ 2022\n바이엘 04 레버쿠젠\n202...,베르더 브레멘,82,511206591,1. FC 카이저슬라우테른 / 베르더 브레멘 / 바이엘 04 레버쿠젠 / 헤르타 베...
1,솔리 마치,83,22PLA,2013 ~\n브라이턴 호브 앨비언,브라이턴 호브 앨비언,85,511206594,브라이턴 호브 앨비언
2,마테오 코바치치,90,22PLA,2019 ~\n첼시\n2015 ~ 2019\n레알 마드리드\n2018 ~ 2019\...,첼시,87,511207410,인테르 / 디나모 자그레브 / 레알 마드리드 / 첼시
3,레안드로 트로사르,87,22PLA,2019 ~\n브라이턴 호브 앨비언\n2012 ~ 2019\nRC 겡크\n2015 ...,브라이턴 호브 앨비언,84,511207421,아우트-헤버를레이 뢰번 / KVC 베스테를로 / 브라이턴 호브 앨비언 / 뢰멀 / ...
4,레안드로 파레데스,88,22PLA,2019 ~\n파리 생제르맹\n2022 ~\n유벤투스\n임대\n2017 ~ 2019...,유벤투스,84,511207439,로마 FC / 키에보 베로나 / 엠폴리 / 유벤투스 / 보카 주니어스 / 제니트 /...
...,...,...,...,...,...,...,...,...
111,마르셀루 고이아누,90,19TOTS,-,데미르 그룹 시바스스포르,97,215216373,데미르 그룹 시바스스포르
112,소아리스,91,19TOTS,-,-,88,215227476,-
113,사무엘,78,OTW,-,전북 현대 모터스,82,218209017,전북 현대 모터스
114,정호진,71,2019KFA,-,-,75,295251160,-
115,최준,71,2019KFA,-,-,77,295251161,-

In [45]:
temp_4.drop(columns=['team','team_now'], inplace=True)
temp_4

,name,overall,season,Stamina,pk,club_career
0,미첼 바이저,81,22PLA,82,511206591,1. FC 카이저슬라우테른 / 베르더 브레멘 / 바이엘 04 레버쿠젠 / 헤르타 베...
1,솔리 마치,83,22PLA,85,511206594,브라이턴 호브 앨비언
2,마테오 코바치치,90,22PLA,87,511207410,인테르 / 디나모 자그레브 / 레알 마드리드 / 첼시
3,레안드로 트로사르,87,22PLA,84,511207421,아우트-헤버를레이 뢰번 / KVC 베스테를로 / 브라이턴 호브 앨비언 / 뢰멀 / ...
4,레안드로 파레데스,88,22PLA,84,511207439,로마 FC / 키에보 베로나 / 엠폴리 / 유벤투스 / 보카 주니어스 / 제니트 /...
...,...,...,...,...,...,...
111,마르셀루 고이아누,90,19TOTS,97,215216373,데미르 그룹 시바스스포르
112,소아리스,91,19TOTS,88,215227476,-
113,사무엘,78,OTW,82,218209017,전북 현대 모터스
114,정호진,71,2019KFA,75,295251160,-
115,최준,71,2019KFA,77,295251161,-

### 2. 두 데이터 합치기

In [46]:
# 'name','overall','Stamina' 기준으로 합치기
data_merge = pd.merge(data_1,temp_4, how = 'inner', on=['name','overall','Stamina'] )
data_merge

,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,etc_skill,etc_foot,etc_nation,Sprint_speed,Acceleration,Finishing,Shot_power,Long_shots,Positioning,Volleys,Penalties,Short_pass,Eyesight,Crossing,Long_pass,FK_Acc,Curve,Dribbling,Ball_control,Agility,Balance,Reflexes,Interpersonal_defense,Stand_tackle,Interception,Heading,Slide_tackle,Strength,Stamina,Aggression,Jumping,Composure,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price,ST,LW,CF,RW,CAM,LM,CM,RM,CDM,LWB,CB,RWB,LB,SW,RB,GK,season,pk,club_career
0,크리스티안 겐트너,20,LM,99,"유리몸, 슬라이딩 태클 선호",1985.08.14,189,81,보통,3,right,독일,97,86,89,106,95,101,90,89,96,97,99,97,77,94,104,102,82,92,106,101,94,104,96,94,102,109,96,90,96,12,10,23,22,27,"38,600,000",98,97,98,97,97,99,99,99,99,99,98,99,98,97,98,27,UP,246158856,VfL 볼프스부르크 / FC 루체른 / VfB 슈투트가르트 / 1. FC 우니온 베를린
1,하비 가르시아,18,CDM,95,파워 헤더,1987.02.08,185,80,보통,3,right,스페인,86,83,76,96,90,81,62,80,96,86,76,96,83,85,86,98,83,92,90,93,93,94,100,92,97,105,106,105,94,9,14,24,11,18,"13,500,000",88,86,88,86,88,88,92,88,95,91,95,91,92,95,92,22,UP,246161754,맨체스터 시티 / SL 벤피카 / 레알 마드리드 / 카스티야 / 오사수나 / 보아비...
2,요렌테,21,ST,101,파워 헤더,1985.02.26,195,90,보통,3,right,스페인,87,87,110,92,86,110,91,96,90,80,67,77,60,87,94,103,82,100,99,47,34,38,112,35,109,90,103,94,100,14,23,26,9,13,"63,800,000",101,93,97,93,93,91,85,91,71,69,68,69,66,69,66,24,UP,246162131,SD 에이바르 / 세비야 FC / 아틀레틱 클럽 빌바오 / 유벤투스 / 토트넘 홋스...
3,무사 뎀벨레,20,CF,98,"화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16,185,78,보통,4,left,벨기에,100,98,95,98,98,92,95,84,94,85,84,93,77,86,108,111,95,109,90,76,72,70,90,70,101,97,85,87,109,27,24,22,12,26,"19,100,000",97,97,98,97,97,97,93,97,86,86,82,86,84,82,84,29,UP,246162240,AZ / 풀럼 / K 베이르스호트 VA / 빌렘 II / 광저우 시티 / 토트넘 홋스퍼
4,K. 엘아흐마디,17,CM,95,중거리 슛 선호,1985.01.27,179,78,보통,3,right,모로코,81,86,78,92,88,84,78,90,100,93,79,101,69,86,91,98,92,85,96,81,93,98,81,91,91,94,100,86,93,14,17,20,13,25,"8,740,000",87,89,90,89,92,90,95,90,95,91,91,91,90,90,90,26,UP,246162329,페예노르트 / 알이티하드 / 알아흘리 두바이 / 애스턴 빌라 / FC 트벤터
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41030,A. 크나우프,13,RM,84,스피드 드리블러,2002.01.10,180,73,마름,3,right,독일,96,97,75,75,74,83,73,55,85,82,81,68,57,79,90,86,89,85,81,67,61,65,61,58,65,83,67,75,76,26,30,30,25,31,"2,830,000",79,85,83,85,83,84,79,84,72,76,67,76,74,66,74,33,22PLA,511257540,아인트라흐트 프랑크푸르트 / 보루시아 도르트문트
41031,K. 야키치,14,CDM,83,,1997.05.14,181,75,보통,2,right,크로아티아,65,84,63,87,79,67,70,60,81,75,62,83,57,53,74,83,73,83,81,80,84,81,78,81,89,93,93,74,79,25,25,21,25,25,"3,560,000",75,73,75,73,76,75,79,75,83,79,82,79,79,82,79,30,22PLA,511257889,디나모 자그레브 / NK 이스트라 / 아인트라흐트 프랑크푸르트 / NK 로코모티바 ...
41032,M. 구스토,12,RB,83,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19,179,74,마름,3,right,프랑스,96,93,58,72,59,80,65,59,82,75,87,74,51,79,80,82,83,85,81,76,82,77,69,83,76,91,84,79,83,27,24,31,28,26,"3,700,000",74,79,77,79,78,81,78,81,80,83,78,83,83,78,83,32,22PLA,511259307,올랭피크 리옹
41033,G. 마마르다슈빌리,12,GK,85,GK 적극적 크로스 수비,2000.09.29,199,88,마름,1,left,조지아,60,60,26,67,24,25,24,27,31,48,29,31,26,27,27,37,49,41,69,22,28,25,30,26,83,58,40,65,41,88,87,83,88,89,"3,740,000",41,37,39,37,37,39,37,39,36,37,37,37,37,37,37,85,22PLA,511262621,FC 로코모티브 / 메탈루르기 루스타비 / 발렌시아 CF / 디나모 트빌리시
41034,반데르송,13,RM,83,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21,180,74,마름,3,right,브라질,87,88,74,73,70,83,72,61,85,83,86,77,82,79,85,84,85,83,83,79,81,77,78,79,77,84,81,67,82,25,25,23,24,23,"3,390,000",79,83,81,83,82,83,81,83,80,82,79,82,82,79,82,30,22PLA,511263781,그레미우 / AS 모나코

In [47]:
# 결측값 확인
print(data_merge.isna().sum().sort_values())

name            0
Slide_tackle    0
Strength        0
Stamina         0
Aggression      0
               ..
Agility         0
Balance         0
Reflexes        0
Long_shots      0
club_career     0
Length: 66, dtype: int64

In [48]:
# 저장
# data_merge.to_csv('result_version_3.csv', index = False)

## 2. pk 값 부여

### 2.1 데이터 불러오기

In [297]:
data = pd.read_csv('/Users/krc/Desktop/FIFA_Project_Personal/modeling/data/result_version_3.csv')
data.tail(5)

,Unnamed: 0,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,LWB,CB,RWB,LB,SW,RB,GK,season,pk,club_career
41030,41030,A. 크나우프,13,RM,84,스피드 드리블러,2002.01.10,180,73,마름,...,76,67,76,74,66,74,33,22PLA,511257540,아인트라흐트 프랑크푸르트 / 보루시아 도르트문트
41031,41031,K. 야키치,14,CDM,83,NaN,1997.05.14,181,75,보통,...,79,82,79,79,82,79,30,22PLA,511257889,디나모 자그레브 / NK 이스트라 / 아인트라흐트 프랑크푸르트 / NK 로코모티바 ...
41032,41032,M. 구스토,12,RB,83,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19,179,74,마름,...,83,78,83,83,78,83,32,22PLA,511259307,올랭피크 리옹
41033,41033,G. 마마르다슈빌리,12,GK,85,GK 적극적 크로스 수비,2000.09.29,199,88,마름,...,37,37,37,37,37,37,85,22PLA,511262621,FC 로코모티브 / 메탈루르기 루스타비 / 발렌시아 CF / 디나모 트빌리시
41034,41034,반데르송,13,RM,83,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21,180,74,마름,...,82,79,82,82,79,82,30,22PLA,511263781,그레미우 / AS 모나코

### 2.1.1 국가 pk

In [298]:
nations = pd.DataFrame(data = list(data.etc_nation.value_counts().index), columns = ['nation'])
nations

     nation
0      잉글랜드
1        독일
2       프랑스
3       스페인
4     아르헨티나
..      ...
161     바레인
162     르완다
163     벨리즈
164    브루나이
165  뉴칼레도니아

[166 rows x 1 columns]

In [299]:
nation_pk = []

for num in range(1,len(nations)+1):
    if num < 10:
        nation_pk.append(f'00{num}')
    elif num < 100:
        nation_pk.append(f'0{num}')
    elif num >= 100:
        nation_pk.append(f'{num}')

nations['nation_pk'] = nation_pk
nations

     nation nation_pk
0      잉글랜드       001
1        독일       002
2       프랑스       003
3       스페인       004
4     아르헨티나       005
..      ...       ...
161     바레인       162
162     르완다       163
163     벨리즈       164
164    브루나이       165
165  뉴칼레도니아       166

[166 rows x 2 columns]

### 2.1.2 클럽 pk

In [300]:
temp_club_list = []

for num in range(len(data)):
    temp_club_list.append(data.club_career.iloc[num].split(' / '))
    
club_list = sum(temp_club_list,[])
club_list

['VfL 볼프스부르크',
 'FC 루체른',
 'VfB 슈투트가르트',
 '1. FC 우니온 베를린',
 '맨체스터 시티',
 'SL 벤피카',
 '레알 마드리드',
 '카스티야',
 '오사수나',
 '보아비스타',
 '제니트',
 '레알 베티스',
 'SD 에이바르',
 '세비야 FC',
 '아틀레틱 클럽 빌바오',
 '유벤투스',
 '토트넘 홋스퍼',
 '나폴리 FC',
 '우디네세',
 'CD 바스코니아',
 '스완지 시티',
 'AZ',
 '풀럼',
 'K 베이르스호트 VA',
 '빌렘 II',
 '광저우 시티',
 '토트넘 홋스퍼',
 '페예노르트',
 '알이티하드',
 '알아흘리 두바이',
 '애스턴 빌라',
 'FC 트벤터',
 '스포르팅 CP',
 'FC 포르투',
 '스포르팅 CP U-23',
 '울버햄프턴 원더러스',
 'AS 모나코',
 '안데를레흐트',
 '인테르',
 'FC 포르투',
 '브라가',
 '올랭피크 마르세유',
 '벨레넨세스 SAD',
 '나폴리 FC',
 '리즈 유나이티드',
 '카디프 시티',
 '맨체스터 시티',
 '폴커크',
 '달링턴',
 '베리',
 'OGC 니스',
 '노츠 카운티',
 '코벤트리 시티',
 '레스터 시티',
 '베식타시 JK',
 '세비야 FC',
 'FC 바르셀로나',
 '오이펜',
 '아틀레티쿠 파렌세',
 '쿠리치바',
 '산둥 타이산',
 'AZ',
 '사우샘프턴',
 '페예노르트',
 '삼프도리아',
 '카타니아',
 '파르마',
 '레체',
 '체세나',
 '크로토네',
 '첼시',
 '스토크 시티',
 '미들즈브러',
 '트라브존스포르',
 '톈진 진먼후',
 'FK 륀',
 'CF 푸엔라브라다',
 '트라브존스포르',
 '허베이 FC',
 '세비야 FC',
 '올랭피크 마르세유',
 '상하이 선화',
 '스타드 렌',
 '우한 FC',
 '퀸스파크 레인저스',
 '툴루즈 FC',
 '보루시아 도르트문트',
 '비스와 크라쿠프',
 '스트라돔 쳉스토호바',
 '피오렌티나',
 'VfL 볼프스부르크',
 '파추카',
 '클루브 올림포 바이아 블랑카',
 '브라이턴 호브 앨비언',
 '라요 바예카노',
 '산로렌소 데 알마그로',
 '레스터 시티',
 'CD 카스테욘',
 'UD 알메리아',
 '아르세날 데사란디',
 '올랴넨스',
 'SL 벤피카',
 '에스토릴',
 '주앵빌',
 '이라티 스포르트 클럽',
 '데스포르치부 브라질',
 '산토스',
 '아바이',
 'EC 비토리아',
 '인테르',
 '아틀레티코 마드리드',
 'FC 소쇼 몽벨리아르',
 '장쑤 쑤닝 FC',
 '상 파울루',
 '쿠리치바',
 'FC 바르셀로나',
 'FC 샬케 04',
 'FC 바젤 1893',
 '세비야 FC',
 '클럽 브루게',
 'FC 신시내티',
 '페예노르트',
 '아약스',
 'LAFC',
 '빌렘 II',
 '맨체스터 유나이티드',
 '선덜랜드',
 '웨스트 브로미치 앨비언',
 '앤트워프',
 '레스터 시티',
 'ESTAC 트루아',
 '인터 마이애미 CF',
 '유벤투스',
 'AS 생테티엔',
 '파리 생제르맹',
 '아틀레틱 클럽 빌바오',
 '오사수나',
 '아틀레티코 마드리드',
 '스포르팅 CP',
 'SL 벤피카',
 '레알 사라고사',
 '히우 아브',
 'CD 나시오날',
 'AS 모나코',
 '레알 마드리드',
 'PSV',
 '바이엘 04 레버쿠젠',
 '아틀라스',
 'RC 데포르티보',
 '발렌시아 CF',
 '레알 베티스',
 '페예노르트',
 '사우샘프턴',
 '베르더 브레멘',
 '메디폴 바샥셰히르',
 '유벤투스',
 '함부르크 SV',
 'ADO 덴하흐',
 'FC 위트레흐트',
 'FC 트벤터',
 '비토리아 세투발',
 'RC 레크레아티보',
 '스포르팅 CP',
 '웨스트 브로미치 앨비언',
 'FC 포르투',
 '파르마',
 '유카텔 카이세리스포르',
 'FC 포르투 B',
 '벨레넨세스 SAD',
 '이스트렐라 아마도라',
 '카자 피아 AC',
 '아약스',
 'AZ',
 'TPS 투르쿠',
 '삼프도리아',
 '베르더 브레멘',
 '말뫼 FF',
 'PEC 즈볼러',
 '인테르',
 '페네르바흐체 SK',
 '첼시',
 '크리스털 팰리스',
 '스토크 시티',
 '위건 애슬래틱',
 '스파르타크 모스크바',
 '리버풀',
 '웨스트 햄 유나이티드',
 '맨체스터 유나이티드',
 'AZ',
 '삼프도리아',
 '라싱 클루브 데 아베야네다',
 'AS 모나코',
 '베네치아',
 '보카 주니어스',
 '로마 FC',
 'FC 포르투',
 '올림피아코스 CFP',
 '레알 라싱 클루브',
 '헤타페 CF',
 '루빈 카잔',
 '비야레알 CF',
 '보루시아 도르트문트',
 'LKS 고칼고프스-즈드로이',
 'KGHM 자그웽비에 루빈',
 '헤르타 베를린',
 'FC 포르투',
 '아틀레티코 마드리드',
 '레알 오비에도',
 '데포르티보 알라베스',
 '말라가 CF',
 'RC 데포르티보',
 '비야레알 CF',
 '오사수나',
 '아틀레티코 마드리드',
 '세비야 FC',
 '발렌시아 CF',
 'FC 로리앙',
 'RC 스트라스부르',
 '파리 생제르맹',
 '페네르바흐체 SK',
 '올림피아코스 CFP',
 '디나모 모스크바',
 '올랭피크 마르세유',
 'FC 지롱댕 보르도',
 '랑공 FC',
 '올랭피크 리옹',
 'FC 리부른',
 'TSV 브라넨버그',
 '보루시아 도르트문트',
 'TSV 1860 뮌헨',
 '바이엘 04 레버쿠젠',
 '카타르 SC',
 '아틀레틱 클럽 빌바오',
 '바이에른 뮌헨',
 '오사수나 프로메사스',
 '아약스',
 '레인저스',
 '갈라타사라이 SK',
 '알라이얀',
 'FC 바르셀로나',
 '맨체스터 유나이티드',
 '클루브 데포르티보 과달라하라',
 '바이엘 04 레버쿠젠',
 '세비야 FC',
 '레알 마드리드',
 'LA 갤럭시',
 '웨스트 햄 유나이티드',
 'FC 위트레흐트',
 '센트럴코스트 매리너스',
 'FC 트벤터',
 'PEC 즈볼러',
 '아다나 데미르스포르',
 '첼시',
 'UD 라스팔마스',
 '크리스털 팰리스',
 '뉴캐슬 유나이티드',
 'OGC 니스',
 '올랭피크 마르세유',
 'RC 랑스',
 '헤타페 CF',
 'LOSC 릴',
 '차이쿠르 리제스포르',
 '퀸스파크 레인저스',
 '올랭피크 리옹',
 '아약스',
 'SL 벤피카',
 'SC 헤이렌베인',
 'BSC 영보이스',
 '파르티잔 베오그라드',
 '헤르타 베를린',
 '유벤투스',
 'VfB 슈투트가르트 II',
 '레알 마드리드',
 'VfB 슈투트가르트',
 '풀럼',
 '첼시',
 '아스널',
 '안지 마하치칼라',
 '샤흐타르 도네츠크',
 '코린치안스',
 '아인트라흐트 프랑크푸르트',
 '우라와 레드 다이아몬즈',
 '1. FC 뉘른베르크',
 'VfL 볼프스부르크',
 '클럽 브루게',
 '루셀라러',
 '인테르',
 '보루시아 도르트문트',
 'FC 소쇼 몽벨리아르',
 '바이에른 뮌헨',
 '토트넘 홋스퍼',
 'VfL 볼프스부르크',
 '레스터 시티',
 '애스턴 빌라',
 '위건 애슬래틱',
 'FK 소치',
 '페네르바흐체 SK',
 'ESTAC 트루아',
 'AC 밀란',
 '올랭피크 마르세유',
 '세비야 FC',
 '발렌시아 CF',
 'LOSC 릴',
 '프레쥐스 생라파엘',
 '보아비스타',
 '몽펠리에 HSC',
 '파리 생제르맹',
 '리버풀',
 '크리스털 팰리스',
 'SL 벤피카',
 '올림피아코스 CFP',
 '데포르티보 알라베스',
 '알아흘리',
 'FK 하이두크 쿨라',
 '파르티잔 베오그라드',
 '애스턴 빌라',
 '에버턴',
 '맨체스터 시티',
 '리즈 유나이티드',
 '레알 소시에다드',
 'SD 에이바르',
 '아틀레틱 클럽 빌바오',
 '레알 바야돌리드 B',
 '토트넘 홋스퍼',
 '레알 우니온 이룬',
 '첼트넘 타운',
 '파리 생제르맹',
 '1. FC 쾰른',
 '1. FSV 마인츠 05',
 '보루시아 도르트문트',
 'SC 라인도르프 알타흐',
 '데니즐리스포르',
 '1. FSV 마인츠 05 II',
 '1. FC 우니온 베를린',
 'AS 생테티엔',
 'FC 샬케 04',
 '1. FSV 마인츠 05',
 '스토크 시티',
 '1. FC 뉘른베르크',
 '바이에른 뮌헨',
 '함부르크 SV',
 '파리 생제르맹',
 '유벤투스',
 '크로토네',
 '토리노',
 '웨스트 햄 유나이티드',
 '아약스',
 '리즈 유나이티드',
 'RKC 발비크',
 '뉴캐슬 유나이티드',
 '빌렘 II',
 'CSKA 소피아',
 '아약스',
 '사우샘프턴',
 '아틀레티코 마드리드',
 '앤트워프',
 '토트넘 홋스퍼',
 '알두하일',
 'SL 벤피카',
 '올림피아코스 CFP',
 '안지 마하치칼라',
 '스탕다르 리에주',
 '그라나다 CF',
 '맨체스터 시티',
 'FC 포르투',
 '갈라타사라이 SK',
 '세비야 FC',
 '빌라노바 FC',
 '이스트렐라 아마도라',
 '아약스',
 'AZ',
 '갈라타사라이 SK',
 'IFK 예테보리',
 'FC 낭트',
 'AIK',
 '삼프도리아',
 '파르마',
 '토론토 FC',
 '엠폴리',
 '알힐랄',
 '유벤투스',
 '오사수나',
 '첼시',
 '올랭피크 마르세유',
 'RCD 에스파뇰',
 '레알 마드리드 C',
 '레알 마드리드',
 '나폴리 FC',
 '그라나다 CF',
 '카스티야',
 '피오렌티나',
 '로마 FC',
 'FK 추카리치키',
 '맨체스터 시티',
 '인테르',
 'OFK 베오그라드',
 '라티움',
 '페네르바흐체 SK',
 '알나스르',
 '올랭피크 마르세유',
 '바이에른 뮌헨',
 '코린치앙스 알라고아누',
 'TSG 호펜하임',
 'VfL 볼프스부르크',
 '맨체스터 유나이티드',
 '카디프 시티',
 '첼시',
 '왓퍼드',
 '허더즈필드 타운',
 '레딩',
 '반즐리',
 '카슴파샤 SK',
 '레스터 시티',
 '애스턴 빌라',
 '번리',
 '맨체스터 유나이티드',
 '선덜랜드',
 '프레스턴 노스 엔드',
 '아스널',
 '왓퍼드',
 '브라이턴 호브 앨비언',
 '아약스',
 'FC 신시내티',
 'PSV',
 '더 흐라프스합',
 '뉴캐슬 유나이티드',
 '시드니 FC',
 'SC 헤이렌베인',
 '아약스',
 '페예노르트',
 '빌렘 II',
 '비테서',
 '바이에른 뮌헨',
 '함부르크 SV',
 'VfB 슈투트가르트',
 '1. FC 뉘른베르크',
 '보루시아 도르트문트',
 '맨체스터 시티',
 'VfL 보훔 II',
 '인터나시오날',
 '상 파울루',
 '상하이 하이강',
 '첼시',
 '스포르팅 CP',
 '디나모 모스크바',
 '트라브존스포르',
 '뷔르츠부르거 키커스',
 'FC 트벤터',
 '보루시아 도르트문트 II',
 '보루시아 도르트문트',
 '아인트라흐트 프랑크푸르트',
 '1. FC 카이저슬라우테른',
 '파리 생제르맹',
 '바이에른 뮌헨',
 'TSG 호펜하임',
 'VfB 슈투트가르트',
 'FC 샬케 04',
 'FC 바르셀로나',
 '발렌시아 CF',
 '발렌시아 메스타야',
 '나스타치',
 '로마 FC',
 '첼시',
 'FC 바르셀로나',
 '라티움',
 'FC 바르셀로나',
 'FC 바르셀로나',
 'FC 바르셀로나',
 'FC 바르셀로나',
 '맨체스터 유나이티드',
 '왓퍼드',
 '위건 애슬래틱',
 '에버턴',
 '레스터 시티',
 '애스턴 빌라',
 '그레미우',
 '바이에른 뮌헨',
 '유벤투스',
 '샤흐타르 도네츠크',
 'LA 갤럭시',
 '맨체스터 시티',
 'FC 포르투',
 '에버턴',
 '발렌시아 CF',
 '스탕다르 리에주',
 'AS 생테티엔',
 '스페치아',
 'FC 위트레흐트',
 'PSV',
 'RKC 발비크',
 '비토리아 세투발',
 '우니앙 자 마데이라',
 '레알 사라고사',
 '파수스 드 페헤이라',
 '아틀레티코 마드리드',
 'FC 포르투',
 '창저우 슝스',
 '브라가',
 '마카비 텔아비브',
 'CD 나시오날',
 '로마 FC',
 '타예레스 데 코르도바',
 '팔레르모',
 '엘체 CF',
 '우라칸',
 '파리 생제르맹',
 '페예노르트',
 'PSV',
 '미에치 레그니차',
 '시드니 FC',
 'SC 헤이렌베인',
 'FC 트벤터',
 '스완지 시티',
 '바이에른 뮌헨',
 'FC 루체른',
 'VfB 슈투트가르트',
 'FC 샬케 04',
 '선덜랜드',
 '첼시',
 'FC 바르셀로나',
 '볼턴 원더러스',
 '카스티야',
 '피오렌티나',
 '선덜랜드',
 '키에보 베로나',
 '볼로냐',
 'AC 벨라리아 IM ',
 '유벤투스',
 '체세나',
 '파비아',
 '나폴리 FC',
 '포를리 ',
 '레반테 UD',
 '알바세테 발롬피에',
 '레알 마드리드',
 '데포르티보 사프리사',
 '파리 생제르맹',
 '유벤투스',
 '왓퍼드',
 '우디네세',
 '리버 플레이트',
 '첼시',
 '인디펜디엔테 메데인',
 '레체',
 '유벤투스',
 '피오렌티나',
 '우디네세',
 '풀럼',
 'RC 랑스',
 'SC 바스티아',
 '레알 마드리드',
 '비야레알 CF',
 '웨스트 햄 유나이티드',
 '파리 생제르맹',
 '비테서',
 'PSV',
 '브라이턴 호브 앨비언',
 '인테르',
 '스토크 시티',
 '시카고 파이어 FC',
 'FC 바젤 1893',
 '바이에른 뮌헨',
 '리버풀',
 '올랭피크 리옹',
 '애스턴 빌라',
 '에버턴',
 'LOSC 릴',
 '파리 생제르맹',
 'UD 레이리아',
 'SL 벤피카',
 '벨레넨세스 SAD',
 'SD 우에스카',
 '1. FSV 마인츠 05',
 '시미즈 에스펄스',
 '말라가 CF',
 'FC 카르타헤나',
 '신트-트라위던',
 '레스터 시티',
 'VfB 슈투트가르트',
 'PSV',
 '첼시',
 'FC 샬케 04',
 '1. FSV 마인츠 05',
 '카슴파샤 SK',
 '레스터 시티',
 '함부르크 SV',
 'VfL 볼프스부르크',
 '페예노르트',
 'FC 위트레흐트',
 'ADO 덴하흐',
 '로마 FC',
 'FC 포르투',
 '파수스 드 페헤이라',
 'KV 메헬런',
 '갈라타사라이 SK',
 '베이라마르',
 'FC 낭트',
 '파오크 FC',
 '페나피엘',
 '몽펠리에 HSC',
 '아다나 데미르스포르',
 'FC 샬케 04',
 '토트넘 홋스퍼',
 '파리 생제르맹',
 '리즈 유나이티드',
 'SL 벤피카',
 '볼턴 원더러스',
 '발렌시아 CF',
 '카스티야',
 '리버풀',
 '아스널',
 '사우샘프턴',
 'PSV',
 '스포팅 KC',
 '베식타시 JK',
 '발랑시엔 FC',
 'AS 모나코',
 '툴루즈 FC',
 '스포르팅 CP',
 '세비야 FC',
 '헤타페 CF',
 '카스티야',
 '파리 생제르맹',
 '코통 스포르 가루아',
 'FC 포르투',
 '베식타시 JK',
 '알나스르',
 '발랑시엔 FC',
 'FC 로리앙',
 '맨체스터 시티',
 '산토스',
 'FC 포르투',
 '아메리카 미네이루',
 '유벤투스',
 '레알 마드리드',
 'FC 바르셀로나',
 '바르셀로나 B',
 '히버니언',
 '페예노르트',
 '빌렘 II',
 '엑셀시오르 로테르담',
 'FC 바르셀로나',
 '아약스',
 '발렌시아 CF',
 'NEC 네이메헌',
 '아약스',
 'FC 코펜하겐',
 '아약스',
 'FC 코펜하겐',
 '아약스',
 'FC 코펜하겐',
 '아약스',
 'FC 코펜하겐',
 'AZ',
 '클럽 브루게',
 '아약스',
 'FC 에먼',
 'SC 헤이렌베인',
 '카를스루어 SC',
 '아인트라흐트 프랑크푸르트',
 '보루시아 도르트문트',
 '바이에른 뮌헨',
 '키커스 오펜바흐',
 'AZ',
 'PSV',
 '오스만르스포르',
 '다마크 FC',
 'FC 위트레흐트',
 'FC 트벤터',
 'FC 포르투',
 'LAFC',
 'FC 바르셀로나',
 '피오렌티나',
 '레알 베티스',
 '카스티야',
 '레알 마드리드',
 '레스터 시티',
 '브렌트퍼드',
 '크리스털 팰리스',
 '상 파울루',
 '토트넘 홋스퍼',
 '파리 생제르맹',
 '리즈 유나이티드',
 '스포르팅 CP',
 'FC 바르셀로나',
 '스타드 렌',
 '비토리아 SC',
 '레알 소시에다드',
 '인테르',
 '셀타 비고',
 '바르셀로나 B',
 '알아라비',
 'FC 바르셀로나',
 '파리 생제르맹',
 '리즈 유나이티드',
 '스포르팅 CP',
 'FC 바르셀로나',
 '스타드 렌',
 '비토리아 SC',
 '레알 소시에다드',
 '인테르',
 '셀타 비고',
 '바르셀로나 B',
 '알아라비',
 'FC 바르셀로나',
 '파리 생제르맹',
 '풀럼',
 'AS 모나코',
 '파리 생제르맹',
 '피게이렌세',
 '리버풀',
 'TSG 호펜하임',
 '톰벤시',
 'SL 벤피카',
 'RKC 발비크',
 '울버햄프턴 원더러스',
 '레딩',
 '알하젬',
 'RC 데포르티보',
 '함부르크 SV',
 '비토리아 SC',
 'FC 트벤터',
 '스포르팅 CP',
 '엘라스 베로나',
 '유벤투스',
 '모데나',
 '제노아',
 'FC 샬케 04',
 'VfL 볼프스부르크',
 'SL 벤피카',
 '파리 생제르맹',
 '클럽 브루게',
 '비르통',
 '보루시아 도르트문트',
 '파리 생제르맹',
 '삼프도리아',
 '토리노',
 '웨스트 햄 유나이티드',
 '아스콜리',
 '비아레조',
 '유벤투스',
 '발렌시아 CF',
 '카스텔람마레 디스타비아',
 '사수올로',
 '몽펠리에 HSC',
 'OGC 니스',
 'AS 모나코',
 '올랭피크 마르세유',
 '스포르팅 CP',
 'SL 벤피카',
 '왓퍼드',
 '알리안사 리마',
 '알힐랄',
 '풀럼',
 '페예노르트',
 '아브르 AC',
 '허더즈필드 타운',
 'AS 모나코',
 '풀럼',
 '페예노르트',
 '아브르 AC',
 '허더즈필드 타운',
 'AS 모나코',
 '풀럼',
 '페예노르트',
 '아브르 AC',
 '허더즈필드 타운',
 'AS 모나코',
 '풀럼',
 '페예노르트',
 '아브르 AC',
 '허더즈필드 타운',
 'AS 모나코',
 '반즐리',
 '에버턴',
 '맨체스터 시티',
 '스파르타크 모스크바',
 'FC 포르투',
 '브라가',
 '알타원',
 '로코모티브 모스크바',
 '아타카슈 하타이스포르',
 '질 비센트 FC',
 '페헤바르 FC',
 '페예노르트',
 'NAC 브레다',
 'FC 흐로닝언',
 '그레미우 바루에리',
 '아스콜리',
 'PEC 즈볼러',
 '아약스',
 'FC 코펜하겐',
 '1. FSV 마인츠 05',
 '앤트워프',
 '미들즈브러',
 'FC 신시내티',
 'PSV',
 'VfL 보훔',
 '브라이턴 호브 앨비언',
 'TSG 호펜하임',
 'SL 벤피카',
 '아메리카',
 '울버햄프턴 원더러스',
 '아틀레티코 마드리드',
 '카스티야',
 '레알 마드리드',
 '바이엘 04 레버쿠젠',
 '바이에른 뮌헨',
 '발렌시아 CF',
 '파리 생제르맹',
 'PSV',
 '맨체스터 시티',
 '블랙번 로버스',
 '포츠머스',
 '올랭피크 마르세유',
 '세비야 FC',
 '헤르타 베를린',
 'FC 바르셀로나',
 '올랭피크 리옹',
 '레체',
 '첼시',
 'FC 포르투',
 '뉴캐슬 유나이티드',
 '말라가 CF',
 '히우 아브',
 '에버턴',
 '알라에드',
 'AFC 본머스',
 '아타카슈 하타이스포르',
 '비테서',
 '클럽 브루게',
 '볼로냐',
 '아약스',
 '트라브존스포르',
 'PSV',
 '뉴캐슬 유나이티드',
 '아인트라흐트 프랑크푸르트',
 'SpVgg 그로이터 퓌르트',
 '스파르타 로테르담',
 '유벤투스',
 'AC 밀란',
 '올랭피크 리옹',
 '인테르',
 '디나모 자그레브',
 '레알 마드리드',
 '첼시',
 'SL 벤피카',
 '페스카라',
 '프로 베르첼리',
 '스페치아',
 '유벤투스',
 'CD 레가네스',
 '보타포구',
 '리보르노',
 '파니오니오스 FC',
 'SL 벤피카',
 '올림피아코스 CFP',
 '히우 아브',
 '파나차이키 FC',
 '포르투나 시타르트',
 '보루시아 도르트문트',
 '바이엘 04 레버쿠젠',
 '바이에른 뮌헨',
 '유벤투스',
 '리버풀',
 '카스티야',
 'RCD 에스파뇰',
 '레알 마드리드',
 '비야레알 CF',
 '아틀레티코 마드리드',
 'FC 포르투',
 '세비야 FC',
 '히우 아브',
 'AS 모나코',
 '플루미넨세',
 '레알 마드리드',
 '카스티야',
 '리버풀',
 '바이에른 뮌헨',
 'VfL 보훔',
 'FC 샬케 04',
 '페예노르트',
 '헤라클레스 알멜로',
 '유카텔 카이세리스포르',
 '트라브존스포르',
 '가지안테프 FK',
 'SC 헤이렌베인',
 'PSV',
 'TSG 호펜하임',
 'FC 트벤터',
 '비테서',
 '유벤투스',
 '툴루즈 FC',
 '파리 생제르맹',
 '유벤투스',
 '툴루즈 FC',
 '파리 생제르맹',
 '유벤투스',
 '툴루즈 FC',
 '파리 생제르맹',
 '유벤투스',
 '툴루즈 FC',
 '파리 생제르맹',
 'FC 포르투',
 'OGC 니스',
 'FC 포르투 B',
 '레스터 시티',
 '비토리아 SC',
 '뉴캐슬 유나이티드',
 '안데를레흐트',
 'FC 포르투',
 '올랭피크 마르세유',
 '뉴캐슬 유나이티드',
 '안데를레흐트',
 'FC 포르투',
 '올랭피크 마르세유',
 '뉴캐슬 유나이티드',
 '안데를레흐트',
 'FC 포르투',
 '올랭피크 마르세유',
 '뉴캐슬 유나이티드',
 '안데를레흐트',
 'FC 포르투',
 '올랭피크 마르세유',
 '아약스',
 '클루브 아틀레티코 인디펜디엔테',
 '레알 무르시아 CF',
 '반피엘드',
 '올랭피크 리옹',
 '엠폴리',
 '스타드 렌',
 '유벤투스',
 '칼리아리',
 '파나티나이코스 FC',
 'SL 벤피카',
 'VfB 슈투트가르트',
 '보루시아 도르트문트',
 '바이에른 뮌헨',
 'TSG 호펜하임',
 '유벤투스',
 '토론토 FC',
 '피오렌티나',
 '크로토네',
 'SL 벤피카',
 '베식타시 JK',
 '알나스르',
 '광저우 FC',
 '바이아',
 '스파르타크 모스크바',
 '페예노르트',
 'PSV',
 '포르투나 뒤셀도르프',
 '풀럼',
 '사우샘프턴',
 '갈라타사라이 SK',
 'OGC 니스',
 '올랭피크 마르세유',
 '유벤투스',
 'FC 로리앙',
 '리버풀',
 'AC 밀란',
 'LOSC 릴',
 'VfL 볼프스부르크',
 '바이에른 뮌헨',
 '유벤투스',
 '파리 생제르맹',
 'FC 포르투',
 '아틀레티코 나시오날',
 '데포르티보 에스파뇰',
 '데포르테스 톨리마',
 '엔비하도 FC',
 '아메리카',
 '바이에른 뮌헨',
 '올랭피크 리옹',
 '첼시',
 'AC 밀란',
 'AS 모나코',
 '스타드 렌',
 '나폴리 FC',
 'FC 바르셀로나',
 'AS 낭시',
 '토트넘 홋스퍼',
 '세비야 FC',
 '바이에른 뮌헨',
 '아틀레티코 마드리드 B',
 '아틀레티코 마드리드',
 '맨체스터 유나이티드',
 '에버턴',
 '아약스',
 '맨체스터 유나이티드',
 'SL 벤피카 B',
 'SL 벤피카',
 '베스테로스 SK',
 '로마 FC',
 '페예노르트',
 '셀타 비고',
 '로사리오 센트랄',
 'SL 벤피카',
 '발렌시아 CF',
 'SL 벤피카',
 ...]

In [301]:
club_list = list(set(club_list))
club_list

['번리',
 '프로시노네',
 '레나테',
 'SV 메펜',
 'MTV 기프호른',
 '아노르토시스 파마구스타 FC',
 'BSK 보르차',
 '안산 그리너스 FC',
 '클럽 브루게',
 '아약스 케이프 타운',
 '우이페슈트 FC',
 '앤트워프',
 'SK 오스트리아 클라겐푸르트',
 '오모니아 니코시아',
 '에르지예스포르',
 '루케제',
 '비첸자',
 '다롄 프로축구단',
 '요코하마 플뤼겔스',
 '죄네스 스포르티브 마디네트 티아레',
 'AS 생프리에스트',
 '찰턴 애슬레틱',
 '브웽키트니 가빈',
 '팔켄베리 FF',
 'MFK 코시체',
 '구아야킬 시티',
 'CD 비토리아',
 'SC 라인도르프 알타흐',
 '노리치 시티',
 'SV 아샤펜부르크-담',
 '쓰촨 FC',
 '퀸 오브 더 사우스 ',
 'CD 똘레도',
 '코임브라 미나스제라이스',
 '우라칸 발렌시아',
 '이라클리스 FC',
 '칼라일 유나이티드',
 'AS 트렌친',
 '바르셀로나 SC 과야낄',
 '알파테',
 '핀 하프스',
 '루이빌 시티 FC',
 'CR 벨루이즈다드',
 '나우티쿠',
 '프라포트 TAV 안탈랴스포르',
 '카타니아',
 'FC 루앙',
 '그라처 AK',
 '배스 시티',
 '광저우 FC',
 'AC 밀란',
 'SV 다름슈타트 98',
 'FC 로잔-스포르',
 '브라가',
 '옥스퍼드 유나이티드',
 'FC 안양',
 '밴쿠버 화이트캡스',
 'KVC 베스테를로',
 '브뤼네 FK',
 '스키브 IK',
 '울버햄프턴 원더러스',
 '레온',
 '레인저스',
 '멜버른 빅토리',
 '다롄 스더',
 'RNK 스플리트',
 '주앵빌',
 '크루제이루',
 '브라가 B',
 '코린치안스',
 '베갈타 센다이',
 '입스위치 타운',
 'CS 에멜레크',
 '힘나시아 후후이',
 'ES 튀니스',
 '옌볜 푸더',
 '부퍼탈러 SV',
 '베이징 런허 FC',
 '풀라드 FC',
 '보스턴 유나이티드',
 '하포엘 텔아비브',
 '스포르트 우앙카요',
 'US 라온',
 '빅뱅 출라 유나이티드',
 '웰링 유나이티드',
 '무아이다르 SC',
 '웨이머스 FC',
 'CA 사카테페크',
 '뉴저지 아메리칸스',
 '촐노모레츠 오뎃사',
 '쿠리치바',
 '그레미우 아나폴리스',
 '카타르 SC',
 '양주시민축구단',
 '드로이다 유나이티드',
 '포틀랜드 팀버스 2',
 '페나폴렌세',
 'IFK 헤슬레홀름',
 '하포엘 라아나나',
 '데포르티보 파스토',
 'FC 바이에른 뮌헨 II',
 'CD 바다호스',
 '아카데미쿠 비제우',
 'AFC 에스킬스투나',
 'BFC 듀나모',
 '푸체키오',
 'GD 인테르클루브',
 '1. FC 하이덴하임',
 '세르베트 FC',
 '샤르자 SC',
 '보스턴 미닛맨',
 '도쿄 베르디',
 '다트포드',
 '서울 TNT 핏투게더',
 '아틀레티코 나시오날',
 '오스틴 FC',
 '주빌로 이와타',
 '그레미오 노보리존티노',
 '알샤하니아',
 '크리스털 팰리스',
 '상카에타누',
 'FC 사부르탈로',
 '베식타시 JK',
 '호로야 AC',
 '부르사스포르',
 '가마타마레 사누키',
 '올랜도 파이리츠',
 '바이에른 알즈나우',
 '아다나스포르',
 'FC 오버노일란트',
 '콰라 유나이티드',
 '톈진 톈하이 FC',
 'AD 알코르콘',
 '브레시아',
 '포항 스틸러스',
 '비아레조',
 '조랴 루한시크',
 '알리아 FK',
 '상 파울루',
 '티그레스 데라 UANL',
 '윌밍턴 해머헤즈',
 '비르통',
 '오사수나 프로메사스',
 '클루브 아틀레티코 알도시비',
 '스타베크 포트발',
 'AA 겐트',
 '슬로보다 투즐라',
 '질 비센트 FC',
 '케랄라 블래스터스 FC',
 'FK 헤우게순',
 '아메리카 FC',
 '하코아 아미다르 라마트간',
 '도쿠시마 보르티스',
 '보스톤 리버',
 '키에보 베로나',
 '데포르티보 타치라',
 'FK 스렘',
 'SC 파더보른 07',
 '마카비 텔아비브',
 '만따 풋볼 클루브',
 '반 OC',
 '알와슬',
 'NK 비노그라다르',
 'FC 트벤터',
 '도라도 데 시나로아',
 'AEL 리마솔',
 '크루 알렉산드라',
 '1. FSV 마인츠 05',
 '워싱턴 디플로매츠',
 'SM 상가 발렌데 ',
 '몬테디오 야마가타',
 'FK 요나바',
 '치타델라',
 '사릅스보르그 08',
 '데포르티보 메를로',
 '카푸에 셀틱 FC',
 '캐롤라이나 다이너모',
 'FC 라흐티',
 '탐피코 마데로',
 '기라반츠 기타큐슈',
 'SC 바스티아',
 '볼레렌가',
 '샤흐타르 도네츠크',
 '리버풀',
 '요코하마 FC',
 '더스파구사쓰 군마',
 'TSV 하르트베르크',
 '레사',
 'FC 르몽',
 '파수스 드 페헤이라',
 '하버뷰',
 'FK 라드',
 'V-파렌 나가사키',
 '브레이다블리크 코파보귀르',
 '알리안사 리마',
 'FC 루체른',
 '모르도비아 사란스크',
 '너니턴 타운',
 '이라티 스포르트 클럽',
 '모레이렌스',
 '카라카스 FC',
 '샤무아 니오르테 FC',
 'UD 레이리아',
 'FC 카르타헤나',
 '저장 이텅',
 '오호드 클럽',
 '오렌지 카운티 SC',
 '마사틀란 풋볼 클럽',
 '노바라',
 '레알 아빌라 CF',
 '맨체스터 유나이티드',
 '페네르바흐체 SK',
 '샤를루아',
 'LOSC 릴',
 '우라칸',
 'FC 루가노',
 'FC 폴렌담',
 '토린세',
 'AD Os 리미아누스',
 '포리스트 그린 로버스',
 '리버풀 유스팀',
 '제주 유나이티드',
 "CD 오'히긴스",
 '1. FC 카이저슬라우테른 II',
 'FC 메스',
 'FC 올렉산드리야',
 '님 올랭피크',
 '즈린스키 모스타르',
 'UE 미아푸에스타 빌라후이가',
 '호앙아인 잘라이',
 'RC 데포르티보',
 '에스페랑스 튀니스',
 '페어필드 스택스',
 '주니어 비엘레제 리베르타스',
 '서울 유나이티드',
 'IFK 예테보리',
 '산로렌소 데 알마그로',
 '스파르타크 탐보프',
 '세스타오 리버 클럽',
 '알아흘리 두바이',
 '보타포고 - SP',
 '지로나 FC',
 '하노버 96',
 '길레르모 브라운',
 '신트-트라위던',
 'FK 보츠도박',
 'FC 모스크바 ',
 '산타 크루즈',
 '포르데노네',
 '빗베스트 비츠 FC',
 '페나롤 아틀레치쿠 클루비',
 '부천 FC 1995',
 '테라모',
 '바랑키야 FC',
 '레반테 UD',
 '뉴욕 코스모스',
 '곰베 유나이티드 FC',
 '페르골레테제 1932',
 'SV 베헨 비스바덴',
 'FC 졸로투른',
 'UD 알메이라 B',
 '비토리아 SC',
 '키커스 오펜바흐',
 '강릉시청',
 '윔라니예스포르',
 'RCD 마요르카 B',
 '시카고 파이어 FC',
 '물루디아 샤비아 알제',
 '아타카슈 하타이스포르',
 '코크 셀틱',
 '에스비에르 fB',
 '델파 포르투 톨레',
 '라푸안 비르키에',
 '베르가모 칼초',
 '청주 시청 FC',
 '바리',
 '알 샤밥 두바이',
 '에누구 레인저스 인터내셔널',
 '쿠네오',
 '던스터블 타운',
 'CA 바스티아',
 'FK 수두바',
 '코린치앙스 알라고아누',
 'FC 기후',
 '피터버러 유나이티드',
 'CSA - AL',
 'FK 베자니야',
 '오자스쿠 아우다스 상파울루',
 '솔 데 아메리카',
 '인테르',
 '히버니언',
 '로트바이스 에센',
 '론드리나',
 '해로 버러 FC',
 '알샤말',
 'NK 자다르',
 '우니베르시다드 세사르 바예호',
 '크리스티안순 BK',
 'CD 안토파가스타',
 'CA 세로',
 '알아인 FC',
 'FC 볼룬따리',
 '사투른 라멘스코예',
 '살게이루스',
 '알타무라',
 'AE 라리사',
 'UD 이비사',
 'TS 갤럭시 FC',
 '오이펜',
 '인천 유나이티드',
 '상하이 유나이티드',
 '외르그뤼테 IS',
 '세레소 오사카',
 '칼마르 FF',
 '알사일리야 SC',
 'KV 코르트레이크',
 'FC 리퍼링',
 '우니앙 푸치볼 클루비',
 '레알 마드리드 C',
 '오첼룰 갈라치',
 'FK 라드니치키 노바파조바',
 '클럽 스포르티보 세르지피',
 '클라우세넹엔 FK',
 '오이타 트리니타',
 '아메리카누 FC',
 '헤멜 헴스테드',
 '레알 소시에다드 B',
 '쇼난 벨마레',
 'BSC 영보이스',
 'TPS 투르쿠',
 '알 이티하드 알렉산드리아',
 '인테르 데 마드리드 DUX',
 '에스키셰히르스포르',
 '로센보르그 BK',
 '클뢰브 아프리캉',
 '슬라벤 벨루포 코프리브니차',
 '아인트라흐트 프랑크푸르트',
 '요빌 타운',
 '아스날 키이우',
 '아메리카 미네이루',
 'SV 조딩엔',
 'FC 빌 1900',
 '볼리바르',
 '데펜소르 스포르팅',
 '라도미아크 라돔',
 '펠게이라스',
 'NK 올림피야 류블랴나',
 '파말리캉',
 '위컴 원더러스',
 '라 아한',
 'SV 링스',
 '오클랜드 시티',
 '피사',
 '클루브 아틀레티코 센트랄 코르도바',
 '로토브 볼고그라드',
 'DKS 도브레 미아스토',
 '파르마',
 '드림즈 FC',
 '구이저우 헝펑 FC',
 '비토리아 데 기마레스',
 '엘라지스포르',
 '츠에겐 가나자와',
 '티그레',
 'FK 차슬라프',
 '오라리아 AC',
 'FC 괴뇽',
 '산티아고 원더러스',
 '엔비하도 FC',
 '아틀레티쿠 미네이루',
 '바이엘 04 레버쿠젠',
 '알비렉스 니가타',
 '투룬 팔로세우라',
 '데펜사 이후스티시아',
 '빌렘 II',
 '가시마 앤틀러스',
 '그바르디아 코샬린',
 '발라 타운',
 '엘모카울룬 알아랍',
 '상하이 푸동 조본',
 'CD 미란데스',
 '페호비아리아',
 'AC 삼보니파체제',
 '보타포구',
 '크라코비아',
 '카시아스',
 'MKE 앙카라귀쥐',
 '알타이 SK',
 '프레우문드',
 '메이저우 하카',
 'FC 푸네 시티',
 '목포시청',
 '셸본 FC',
 'SC 페를',
 '푸에블라',
 '아흐마트 그로즈니',
 '케비루앙 메트로폴',
 '에스테그랄 테흐란',
 '허더즈필드 타운',
 '엑스트레마두라 UD',
 '슬로반 리베레츠',
 '크리시우마',
 '미요나리오스 FC',
 '마두레이라 - RJ',
 '스포르팅 히혼',
 'PRS 풋볼 클루브',
 '트리에스티나',
 '오볼론 키예프',
 'FC 우파',
 'CO 몬티조',
 'IF 엘프스보리',
 'CE 마타로',
 '상하이 선신',
 '내슈빌 SC',
 '메탈리스트 하르키우',
 'TNS 산산프라이드 FC',
 'HFC 하를럼',
 'MFK 비트코비체',
 '오페라리우 페호비아리우 이스포르치 클루비',
 '캔자스시티 위저즈',
 '포트 베일',
 'FC 블라디캅카스',
 '메탈루르흐 도네츠크',
 '아틀레티코 CP',
 '엥엘홀름 FF',
 '믈라도스트 루차니',
 '아브하 클럽',
 '제이틴부르누스포르',
 '보라츠 차차크',
 '베리아 FC',
 '치앙마이 유나이티드',
 '구아라칭게타 풋볼 Ltda.',
 'K 베이르스호트 VA',
 '퀸스파크 레인저스',
 '카디프 시티',
 '위건 애슬래틱',
 '리가 데스포르티바 데 마푸토',
 '토론토 링스',
 '보헤미언스',
 '스포르트',
 '베팀',
 '야기엘로니아 비야위스토크',
 'IFK 말뫼',
 'SL 벤피카 B',
 '디오슈죄리 VTK',
 '알트노르두 FK',
 '올보르 BK',
 '용 아약스',
 'FC 코페르',
 '저지 익스프레스 SC',
 '바르베리 BoIS FC',
 '파스타프 즐린',
 '올덤 애슬레틱',
 'FK 소치',
 '알레마니아 아헨',
 '우니온 아틀레티코 마라카이보',
 'TP 마젬베',
 '아샨티골드 SC',
 'US 루아',
 '마이애미 FC',
 '나폴리 FC',
 '라쿠프 쳉스트호바',
 'CF 몬테레이',
 '바레세',
 '타우리야 심페로폴',
 '대전 하나 시티즌',
 'AC 벨린초나',
 '비소치나 이흘라바',
 '포츠머스',
 'CD 레가네스',
 'UD 라스팔마스',
 '푼타레나스 FC',
 '미들즈브러',
 'NK 인터블록 류블랴나',
 '라싱 산탄데르 B',
 '충칭 량장 징지',
 '주니오르 팀 푸트볼(PR) ',
 '러시든 & 다이아몬즈',
 '헤르타 BSC II',
 '아카데미카',
 '알가라파 SC',
 '인버네스 CT',
 '토리노',
 '벤피카 카스텔로 브랑코',
 '선전 FC',
 '아브르 AC',
 'HNK 시베니크',
 'BEC 테로 사사나',
 '바니크 오스트라바',
 '탄타 클럽 ',
 '용인시청 축구단',
 '레노파 야마구치',
 '헤타페 CF',
 'LKS 로츠 ',
 'IK 시리우스',
 '데포르티부 다스 아베스',
 '유르고르덴 IF',
 '디종 FCO',
 '메디폴 바샥셰히르',
 '워킹',
 '로바니에미 PS',
 '제노아',
 '올림피아 아순시온',
 '이스탄불스포르',
 '후안 아우리치',
 '충주 험멜 FC',
 '루비오 누',
 'FC 샤프하우젠',
 '치아파스 FC',
 '1. FC 마그데부르크',
 '랏차부리 미트르 폴 FC',
 'CD 코브레살',
 '알비노레페',
 '포자',
 '예니 말라탸스포르',
 '함마르뷔 IF',
 'VK 비에르데',
 '페르십 반둥',
 'SV 군타마틱 리트',
 'CD 톤델라',
 'FC 리모네',
 '김천 상무',
 '카노 필러스 FC',
 '나프레다크 크루셰바츠',
 '스포르팅 크리스탈',
 '알자지라',
 '레알 라싱 클루브',
 'AA 아파레시덴세',
 '앙제 SCO',
 '데포르티보 에스파뇰',
 '양평 FC',
 '드니프로 드니프로페트로우스크',
 'FC 샬케 04',
 '샬럿 인디펜던스',
 '샤페코엔시',
 '마이애미 퓨전',
 '렉섬 AFC',
 '알이티하드',
 '세르탕지뉴 FC',
 '시에나',
 '세바스토폴',
 '교토 상가',
 '페냐롤',
 '산 루이스',
 '루흐 라지온코프',
 '바우반 스트라스부르크',
 '벤투라 카운티 퓨전',
 '우돈 타니 FC',
 '산 마르코스',
 '더비 카운티',
 '벨레넨세스 SAD',
 'HB Køge',
 'FC 보토샤니',
 'TSV 하벨세',
 '디에겜 스포르트',
 'CMS 오이셀',
 '인디펜디엔테 메데인',
 '아르세날 데사란디',
 '파울리스타',
 '에스토릴',
 '센트루 스포르치부 알라고아누',
 '첼트넘 타운',
 '프레스냐 모스크바',
 '알파이살리',
 'UD 라스 팔마스 B',
 '산타 클라라',
 '이뻬르졸라',
 '루셀라러',
 'FC 파싱',
 '알미르 시티 FC',
 '감바 오사카',
 '밀월',
 'KTP',
 'FC 바젤 1893',
 '벨렌',
 '알샤밥',
 '디나모 키이우 II',
 '함부르크 SV',
 'FC 에먼',
 '로트바이스 알렌',
 '즈니치 프루슈쿠프',
 '스파르타크 블라디카프카츠 ',
 '아우스트리아 케른텐',
 '루흐 호르초프',
 '암카르 페름',
 '바라칼도 CF',
 '브네이 예후다 텔 아비브',
 '데포르티보 칼리',
 'FC 비토룰',
 '라티나',
 'SC 헤이렌베인',
 'FK 야블로네츠',
 '토론토 메트로스-크로아티아',
 '부리람 유나이티드',
 '웰링턴 피닉스',
 '상하이 선화',
 '루도고레츠 라즈그라드',
 'LDU 키토',
 '샤토루',
 'FK 추카레츠키',
 'CD 루고',
 '산타 마리아 FC',
 'MFK 루좀베로크',
 '카펜베르크 SV',
 'UD 로그로녜스',
 '라요 바예카노 B',
 'CD 테루엘',
 '하포엘 아크레',
 '하틀풀 Utd.',
 '나사프 카르시',
 '웨스트 햄 유나이티드',
 '멜버른 시티',
 '폰테 프레타',
 '코빌량',
 '클루브 우니베르시타리오 데 데포르테스',
 '선전 펑펑',
 '헤리퍼드 유나이티드',
 '아술 클라로 누마주',
 '폴리스 테로 FC',
 'FC 마이애미 시티',
 '에트니코스 피레아스',
 'AGOVV 아펠도른',
 '빅토리아 코로노보',
 'KAMAZ N. 첼니',
 '삼베네데테제',
 '하노버 96 II',
 '키에티',
 '로스앤젤레스 아즈텍스',
 '블라우-바이스 린츠',
 '하포엘 브엘세바',
 '아스테라스 트리폴리',
 '알이티하드 칼바',
 'EC 비토리아',
 '비그레 수바우키',
 '클루브 우니베르시다드 나시오날',
 '외레브로 SK',
 '르망 FC B',
 '아브니르 스포르티프 베지에',
 '로케런',
 '스파르타 로테르담',
 '맨스필드 타운',
 '라싱 클루브 데 몬테비데오',
 '세로 포르테뇨',
 '클루브 아틀레티코 아틀란타',
 'FC 헤브로스',
 'SC 파렌스',
 'FC 안시',
 '알코르 SC',
 '프레쥐스-생-라파엘 FC',
 '안코나',
 '포수스 지 카우다스',
 '상 베르나르두 FC',
 'SV 아우어슈마허',
 '젤레즈니차르 사라예보',
 '시티즌',
 '네프치 바쿠',
 '아스널',
 '아리스 리마쏠',
 'UD 알메리아',
 'FC 그라핀 블라심',
 'CS 에레디아노',
 '아스케르 포트발',
 '허베이 FC',
 'FK 신젤리치 베오그라드',
 '오스본 파크 갈렙',
 '루앙-퀴조',
 'CD 코르랄리호',
 '디나모 부쿠레슈티',
 '휴스턴 다이너모',
 '노던 퓨어리 FC',
 'US 아브랑슈',
 'CD 알칼라',
 '발렌시아 CF',
 '판두리 트르구지우',
 'VfL 보훔',
 '알바세테 발롬피에',
 '파리 FC',
 'FK 예르브',
 'NK 젤레즈니차르 슬라본스키 브로드',
 'FC 샹블리 우아즈',
 '란치아노',
 '비토리아 세투발',
 '아스트라 지우르지우',
 '셰필드 FC',
 '킬마녹',
 'PFK 스탈 까미안스크',
 'FC 빅토리아 쾰른',
 '세인트 존스턴',
 '알파이하',
 '볼턴 원더러스',
 '아라과 FC',
 '히우 아브',
 '말뫼 FF',
 'NK 프리모라츠 스토브리치',
 '아떼나스 데 싼 까를로스',
 '삼순스포르',
 '파주시민축구단',
 '지르카 키로바라드',
 '카르피',
 'NK 보니피카 이졸라',
 '선양 종즈',
 '플리머스 아가일',
 '악차아바트 세바츠스포르',
 '헤라클레스 알멜로',
 '크로아티아 세스베테',
 '경주 한국수력원자력',
 '고이아네시아 EC',
 'UJA 마카비 파리 메트로폴',
 'FK 콜루바라 라자레바츠',
 '몰데 FK',
 'ENPPI',
 '고양 Hi FC',
 'CD 우트레라',
 '빠에드 리나미스꼰드',
 '레흐 포즈난',
 '빅토리아 플젠',
 'UD 살라망카',
 '마리노 데 루앙코',
 'FC 포르투 B',
 '청두 톈청',
 'CD 테네리페',
 '장춘 야타이',
 'NC 뽀모락 코스트리나',
 '뉴욕 레드불스 II',
 '에르츠게비르게 아우에',
 'IA 아크라네스 ',
 '할레셔 FC',
 '룰레타노 DC',
 '첸나이 FC',
 '아뽈론 스미르니스',
 '글로스터 시티',
 'CD 마프라',
 '드르베카 노베 미아스토 루바프스키에',
 'CF 인디오스 시우다드 후아레스',
 '카스텔람마레 디스타비아',
 '보라츠 카자츠',
 '도체스터 타운',
 'RC 스트라스부르',
 '도치기 SC',
 '로즈부이 카토비체',
 '알 칼리즈',
 '리버 플레이트',
 'FK 슬로보다 우지체',
 '글라드삭세 히어로',
 '반포레 고후',
 '프로그레슐 부카레스트 ',
 '광주 FC',
 'IK 스타르트',
 '델리 다이너모스 FC',
 '카자 피아 AC',
 '방데 푸아레쉬르비 풋볼',
 '해번트 워털루빌',
 '장쑤 옌청 딩리',
 'AFC 본머스',
 '부자스포르',
 '하트 오브 미들로디언',
 'FC 빌뉴스',
 '우메오 FC',
 '파트로나토',
 '로코모티브 모스크바',
 'ŁKS 우치',
 '쟈코멘세',
 'AS 칸',
 '애스턴 빌라',
 '레딩',
 'SC 캄뷔르',
 '알타이',
 '우니온 테무코',
 '다마크 FC',
 '데포르티보 모론',
 '흐멜 블샤니',
 '에버턴',
 '장시 롄성',
 '판세라이코스',
 'AC 아를 아비뇽',
 'CA 비제르틴',
 '던디 FC',
 '데스포르치부 브라질',
 'OFI 크레테',
 'PSV',
 '더 흐라프스합',
 '스포르팅 CP U-23',
 '스탕다르 리에주',
 '발랑시엔 FC',
 '레이파스 라흐티',
 '플릿우드 타운',
 '파티마',
 '이스포르치 클루비 상벤투',
 '라보트니치키 스코페',
 '아레초',
 'FK 보되/글림트',
 '중국 싼샤대학교',
 '샌디에고 사커스',
 '우니베르시다드 데 콘셉시온',
 '리넨세',
 'SC 프라이부르크',
 '오스만르스포르',
 '울산 현대미포조선',
 '제니트',
 '인터나시오날',
 '퀼메스',
 '가이나레 돗토리',
 'AC 벨라리아 IM ',
 '우니앙 바르바렌시',
 '1. FC 쾰른',
 '보루시아 도르트문트 II',
 '이란자반 FC',
 '에스투디안테스 부에노스 아이레스',
 'AS 모나코',
 'AS 낭시',
 '케이프 타운 스퍼스',
 '라누스',
 '레드불 브라질',
 '라싱 클루브 데 아베야네다',
 '로보스 B.U.A.P',
 '1461 트라브존',
 '레알 솔트레이크',
 '오스트리아 루스테나오',
 '아메리카 (리우데자네이루)',
 '브루나이 DPMM FC',
 '부르고스 CF',
 'RB 라이프치히',
 '함캄',
 '댈러스 번 ',
 'FC 린츠',
 'CSKA 소피아',
 '플루미넨세',
 'AFC 윔블던',
 'AO  테르프시데아 글리파다스',
 'FK 바른스도르프',
 '호벨라 우즈호로드',
 '샤힌 부시르 FC',
 '루파 로마',
 '아르카 그디니아',
 '몬테비데오 원더러스',
 '홈 유나이티드',
 '아틀레틱 클럽 빌바오',
 '세레뇨',
 '톰 톰스크',
 '에인드라흐트 알스트',
 '히베이랑',
 '과라니',
 '리즈 유나이티드',
 '캘리포니아 서프 ',
 '헤젠시',
 '베야 비스타',
 '데미르 그룹 시바스스포르',
 'BB 에르주룸스포르',
 'IFK 클락샴',
 '푸스카스 아카데미아 FC',
 '파추카',
 '보아비스타',
 '노스 텍사스 SC',
 '가즈 메탄 메디아슈',
 'MSV 뒤스부르크',
 '륑뷔 BK',
 '피냘노벤스',
 '탄다 로얄 줄루 FC',
 '라스베이거스 퀵실버스',
 '리보르노',
 '공군 축구단',
 '페레스 셀리돈',
 '오르다바시 심켄트',
 '플라이어알람 아드미라',
 'NK 노발랴',
 '산토스',
 'SpVgg 바이로이트',
 '케플라비크 IF',
 '그레미우',
 'IFK 베르나모',
 '리베르풀 풋볼 클루브 우루과이',
 '무니시팔 라이베리아',
 '뇌샤텔 크사막스 FCS',
 'FK 바니크 소콜로프',
 '홀슈타인 킬',
 '노샘프턴 타운',
 'RS 베르칸',
 '발루르 레이캬비크',
 '비르투스 엔텔라',
 'FC 즐라테모라우체',
 '아르헨티노스 주니어스',
 '마니사스포르',
 '몬차',
 '흐비도우레',
 'FC 안도라',
 'NK 오시예크',
 '아스칼스 디벨롭먼트 팀',
 '떼꼬스',
 '인스티투토 코르도바',
 '튀르크귀쥐 뮌헨',
 '디나모 바투미',
 'FC 파두츠',
 'CS 우루과이',
 '이베르돈-스포르트 FC',
 '에스투디안테스 데라플라타',
 '커쉬올더 SC',
 '꼴레지오 나시오날 이뀌또스',
 '엘체 CF',
 '후트닉 크라코프',
 '앨더숏 타운',
 '인디펜디엔테 산타페',
 '센트랄 에스파뇰',
 '해봉',
 '에히메 FC',
 '알아라비',
 '바넷',
 '밀턴킨즈 던스',
 '말라가 CF',
 '블랙풀',
 'FC 피나르 델 리오',
 '요크 시티',
 '쿠반 크라스노다르',
 'CF 페랄라다',
 '카이라트 알마티',
 '충남 아산 축구단',
 '찰스턴 배터리 ',
 '서울 이랜드',
 '저장 FC',
 '삼프도리아',
 '트라파니',
 '하따 클럽',
 '차이쿠르 리제스포르',
 'FC 로스토프',
 'KSK 베베런',
 'SV 엘베르스베르크',
 '쿨투랄 레오네사',
 '스파르타크 모스크바',
 'SV 발트호프 만하임 07',
 '헬싱보리 IF',
 '투팅 & 미챔 FC',
 '클루브 우니온 마그달레나 S.A',
 '루아얄 위니옹 생질루아즈',
 'FC 브로요프카 브르노',
 '유카텔 카이세리스포르',
 '뉴캐슬 제츠',
 '클루비 아틀레치쿠 파라나엔시 B',
 'CS 빠뜨리아',
 '빠씨 발리드 유르',
 'CD 엘 팔로',
 '토네르 디아보메 FC',
 '라피트 빈',
 '누오레제 칼초',
 '헤타페 B',
 '시그마 올로모우츠',
 'CS 스당',
 '아파레시다 이스포르치 클루비',
 'VVV-벤로',
 '리얼 스포르트 클루브',
 '알웨흐다',
 'FC 서울',
 'FK 파르티자니 티라나 ',
 'USJA 까르케퓨',
 'D.C. 유나이티드',
 'CD 비냐수르',
 '대구 FC',
 '1. FC 뉘른베르크',
 '레자나',
 '올레순 FK',
 '탬워스',
 '아틀레티코 우일라',
 '블랙타운 시티',
 '겐츨레르비를리',
 '미토 홀리호크',
 '자말레크 SC ',
 'RC 셀타 비고 B',
 '뉴욕 레드불스',
 '피찌게또네',
 'NK 베르쥐',
 '산프레체 히로시마',
 '아스콜리',
 '세비야 아틀레티코',
 '터버모어 유나이티드',
 '오르후스 GF',
 '파라나',
 '그라나다 CF',
 '시드니 유나이티드',
 '맨체스터 시티',
 'HSV 바름베크-울렌호르스트',
 'FC 흐라데츠크랄로베',
 'FC 샬케 04 II',
 '레알 무르시아 CF',
 '레드 스타 FC',
 'NK 카를로바츠 1919',
 '보아 이스포르치',
 'SC 브레겐츠',
 '올랜도 시티 SC',
 '후라 슈드',
 '르망 FC',
 '테르나나',
 'FC 시옹',
 '왓퍼드',
 'SC 사가미하라',
 '머더웰',
 'NK 마리보르',
 '사수올로',
 '스포르트 우니앙 신트렌스',
 '레이숑이스',
 '나고야 그램퍼스',
 '엘라스 베로나',
 'UD 살라망카 B',
 '루메차네',
 ...]

In [302]:
clubs = pd.DataFrame(data = club_list, columns = ['club'])
clubs

              club
0               번리
1            프로시노네
2              레나테
3            SV 메펜
4         MTV 기프호른
...            ...
2083        코르도바 B
2084     SV 마터스부르크
2085      브래드퍼드 시티
2086  FK 니츠니 노브고로드
2087       FC 미트윌란

[2088 rows x 1 columns]

In [303]:
club_pk = []

for num in range(1,len(clubs)+1):
    if num < 10:
        club_pk.append(f'000{num}')
    elif num < 100:
        club_pk.append(f'00{num}')
    elif num < 1000:
        club_pk.append(f'0{num}')
    elif num >= 1000:
        club_pk.append(f'{num}')

clubs['club_pk'] = club_pk
clubs

              club club_pk
0               번리    0001
1            프로시노네    0002
2              레나테    0003
3            SV 메펜    0004
4         MTV 기프호른    0005
...            ...     ...
2083        코르도바 B    2084
2084     SV 마터스부르크    2085
2085      브래드퍼드 시티    2086
2086  FK 니츠니 노브고로드    2087
2087       FC 미트윌란    2088

[2088 rows x 2 columns]

### 2.1.3 시즌 pk

In [304]:
season_pk = []

for num in range(len(data)):
    season_pk.append(str(data.pk.iloc[num])[:3])

data['season_pk'] = season_pk
data

,Unnamed: 0,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,CB,RWB,LB,SW,RB,GK,season,pk,club_career,season_pk
0,0,크리스티안 겐트너,20,LM,99,"유리몸, 슬라이딩 태클 선호",1985.08.14,189,81,보통,...,98,99,98,97,98,27,UP,246158856,VfL 볼프스부르크 / FC 루체른 / VfB 슈투트가르트 / 1. FC 우니온 베를린,246
1,1,하비 가르시아,18,CDM,95,파워 헤더,1987.02.08,185,80,보통,...,95,91,92,95,92,22,UP,246161754,맨체스터 시티 / SL 벤피카 / 레알 마드리드 / 카스티야 / 오사수나 / 보아비...,246
2,2,요렌테,21,ST,101,파워 헤더,1985.02.26,195,90,보통,...,68,69,66,69,66,24,UP,246162131,SD 에이바르 / 세비야 FC / 아틀레틱 클럽 빌바오 / 유벤투스 / 토트넘 홋스...,246
3,3,무사 뎀벨레,20,CF,98,"화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16,185,78,보통,...,82,86,84,82,84,29,UP,246162240,AZ / 풀럼 / K 베이르스호트 VA / 빌렘 II / 광저우 시티 / 토트넘 홋스퍼,246
4,4,K. 엘아흐마디,17,CM,95,중거리 슛 선호,1985.01.27,179,78,보통,...,91,91,90,90,90,26,UP,246162329,페예노르트 / 알이티하드 / 알아흘리 두바이 / 애스턴 빌라 / FC 트벤터,246
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41030,41030,A. 크나우프,13,RM,84,스피드 드리블러,2002.01.10,180,73,마름,...,67,76,74,66,74,33,22PLA,511257540,아인트라흐트 프랑크푸르트 / 보루시아 도르트문트,511
41031,41031,K. 야키치,14,CDM,83,NaN,1997.05.14,181,75,보통,...,82,79,79,82,79,30,22PLA,511257889,디나모 자그레브 / NK 이스트라 / 아인트라흐트 프랑크푸르트 / NK 로코모티바 ...,511
41032,41032,M. 구스토,12,RB,83,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19,179,74,마름,...,78,83,83,78,83,32,22PLA,511259307,올랭피크 리옹,511
41033,41033,G. 마마르다슈빌리,12,GK,85,GK 적극적 크로스 수비,2000.09.29,199,88,마름,...,37,37,37,37,37,85,22PLA,511262621,FC 로코모티브 / 메탈루르기 루스타비 / 발렌시아 CF / 디나모 트빌리시,511
41034,41034,반데르송,13,RM,83,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21,180,74,마름,...,79,82,82,79,82,30,22PLA,511263781,그레미우 / AS 모나코,511

### 2.2 국가 & 클럽 pk 추출

In [305]:
# data.drop(['Unnamed: 0'], axis=1, inplace=True)
data.tail(3)

,Unnamed: 0,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,CB,RWB,LB,SW,RB,GK,season,pk,club_career,season_pk
41032,41032,M. 구스토,12,RB,83,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19,179,74,마름,...,78,83,83,78,83,32,22PLA,511259307,올랭피크 리옹,511
41033,41033,G. 마마르다슈빌리,12,GK,85,GK 적극적 크로스 수비,2000.09.29,199,88,마름,...,37,37,37,37,37,85,22PLA,511262621,FC 로코모티브 / 메탈루르기 루스타비 / 발렌시아 CF / 디나모 트빌리시,511
41034,41034,반데르송,13,RM,83,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21,180,74,마름,...,79,82,82,79,82,30,22PLA,511263781,그레미우 / AS 모나코,511

In [315]:
data['nation_pk'] = '-'
data['club_pk'] = '-'


for x in tqdm(nations.nation): # x = '잉글랜드'
    for num in list(data[data['etc_nation'].str.contains(x)].index): # '잉글랜드'를 포함하는 df의 index 
         data.nation_pk.iloc[num] = data.nation_pk.iloc[num].replace('-', ''.join(nations[nations.nation == x].nation_pk.values))


for x in tqdm(clubs.club): # x = '바르셀로나'
    for num in list(data[data['club_career'].str.contains(x)].index): # '잉글랜드'를 포함하는 df의 index 
        if data.club_pk.iloc[num] == '-':
            data.club_pk.iloc[num] = data.club_pk.iloc[num].replace('-', ''.join(clubs[clubs.club == x].club_pk.values))
        else:
            data.club_pk.iloc[num] = data.club_pk.iloc[num]+','+(''.join(clubs[clubs.club == x].club_pk.values))


data

  0%|          | 0/166 [00:00<?, ?it/s]/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_2478/1835512685.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.nation_pk.iloc[num] = data.nation_pk.iloc[num].replace('-', ''.join(nations[nations.nation == x].nation_pk.values))
100%|██████████| 166/166 [01:47<00:00,  1.54it/s]
  0%|          | 0/2088 [00:00<?, ?it/s]/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_2478/1835512685.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.club_pk.iloc[num] = data.club_pk.iloc[num].replace('-', ''.join(clubs[clubs.club == x].club_pk.values))
  0%|          | 2/2088 [00:00<09:02,  3.85it/s]/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_2478/1835512685.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.club_pk.iloc[num] = data.club_pk.iloc[num]+','+(''.join(clubs[clubs.club == x].club_pk.values))
 23%|██▎       | 472/2088 [00:55<04:21,  6.17it/s]/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_2478/1835512685.py:11: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  for num in list(data[data['club_career'].str.contains(x)].index): # '잉글랜드'를 포함하는 df의 index
100%|██████████| 2088/2088 [04:14<00:00,  8.21it/s]

,Unnamed: 0,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,LB,SW,RB,GK,season,pk,club_career,season_pk,nation_pk,club_pk
0,0,크리스티안 겐트너,20,LM,99,"유리몸, 슬라이딩 태클 선호",1985.08.14,189,81,보통,...,98,97,98,27,UP,246158856,VfL 볼프스부르크 / FC 루체른 / VfB 슈투트가르트 / 1. FC 우니온 베를린,246,002,"0196,1030,1083,1651"
1,1,하비 가르시아,18,CDM,95,파워 헤더,1987.02.08,185,80,보통,...,92,95,92,22,UP,246161754,맨체스터 시티 / SL 벤피카 / 레알 마드리드 / 카스티야 / 오사수나 / 보아비...,246,004,"0798,0851,0976,1047,1274,1386,1476,1498,1850"
2,2,요렌테,21,ST,101,파워 헤더,1985.02.26,195,90,보통,...,66,69,66,24,UP,246162131,SD 에이바르 / 세비야 FC / 아틀레틱 클럽 빌바오 / 유벤투스 / 토트넘 홋스...,246,004,"0460,0836,1169,1176,1390,1501,1632,1906,2005"
3,3,무사 뎀벨레,20,CF,98,"화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16,185,78,보통,...,84,82,84,29,UP,246162240,AZ / 풀럼 / K 베이르스호트 VA / 빌렘 II / 광저우 시티 / 토트넘 홋스퍼,246,014,"0374,0432,1181,1454,1874,2005"
4,4,K. 엘아흐마디,17,CM,95,중거리 슛 선호,1985.01.27,179,78,보통,...,90,90,90,26,UP,246162329,페예노르트 / 알이티하드 / 알아흘리 두바이 / 애스턴 빌라 / FC 트벤터,246,035,"0164,0240,0537,0763,1631,2038"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41030,41030,A. 크나우프,13,RM,84,스피드 드리블러,2002.01.10,180,73,마름,...,74,66,74,33,22PLA,511257540,아인트라흐트 프랑크푸르트 / 보루시아 도르트문트,511,002,"0337,1732"
41031,41031,K. 야키치,14,CDM,83,NaN,1997.05.14,181,75,보통,...,79,82,79,30,22PLA,511257889,디나모 자그레브 / NK 이스트라 / 아인트라흐트 프랑크푸르트 / NK 로코모티바 ...,511,025,"0066,0337,1239,1435,1693"
41032,41032,M. 구스토,12,RB,83,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19,179,74,마름,...,83,78,83,32,22PLA,511259307,올랭피크 리옹,511,003,2024
41033,41033,G. 마마르다슈빌리,12,GK,85,GK 적극적 크로스 수비,2000.09.29,199,88,마름,...,37,37,37,85,22PLA,511262621,FC 로코모티브 / 메탈루르기 루스타비 / 발렌시아 CF / 디나모 트빌리시,511,068,"0672,1056,1126,1312"
41034,41034,반데르송,13,RM,83,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21,180,74,마름,...,82,79,82,30,22PLA,511263781,그레미우 / AS 모나코,511,008,"0808,0868"

In [328]:
# 강화 추가
data['reinforcement'] = '1'
data

,Unnamed: 0,name,pay_side,position,overall,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,SW,RB,GK,season,pk,club_career,season_pk,nation_pk,club_pk,reinforcement
0,0,크리스티안 겐트너,20,LM,99,"유리몸, 슬라이딩 태클 선호",1985.08.14,189,81,보통,...,97,98,27,UP,246158856,VfL 볼프스부르크 / FC 루체른 / VfB 슈투트가르트 / 1. FC 우니온 베를린,246,002,"0196,1030,1083,1651",1
1,1,하비 가르시아,18,CDM,95,파워 헤더,1987.02.08,185,80,보통,...,95,92,22,UP,246161754,맨체스터 시티 / SL 벤피카 / 레알 마드리드 / 카스티야 / 오사수나 / 보아비...,246,004,"0798,0851,0976,1047,1274,1386,1476,1498,1850",1
2,2,요렌테,21,ST,101,파워 헤더,1985.02.26,195,90,보통,...,69,66,24,UP,246162131,SD 에이바르 / 세비야 FC / 아틀레틱 클럽 빌바오 / 유벤투스 / 토트넘 홋스...,246,004,"0460,0836,1169,1176,1390,1501,1632,1906,2005",1
3,3,무사 뎀벨레,20,CF,98,"화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16,185,78,보통,...,82,84,29,UP,246162240,AZ / 풀럼 / K 베이르스호트 VA / 빌렘 II / 광저우 시티 / 토트넘 홋스퍼,246,014,"0374,0432,1181,1454,1874,2005",1
4,4,K. 엘아흐마디,17,CM,95,중거리 슛 선호,1985.01.27,179,78,보통,...,90,90,26,UP,246162329,페예노르트 / 알이티하드 / 알아흘리 두바이 / 애스턴 빌라 / FC 트벤터,246,035,"0164,0240,0537,0763,1631,2038",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41030,41030,A. 크나우프,13,RM,84,스피드 드리블러,2002.01.10,180,73,마름,...,66,74,33,22PLA,511257540,아인트라흐트 프랑크푸르트 / 보루시아 도르트문트,511,002,"0337,1732",1
41031,41031,K. 야키치,14,CDM,83,NaN,1997.05.14,181,75,보통,...,82,79,30,22PLA,511257889,디나모 자그레브 / NK 이스트라 / 아인트라흐트 프랑크푸르트 / NK 로코모티바 ...,511,025,"0066,0337,1239,1435,1693",1
41032,41032,M. 구스토,12,RB,83,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19,179,74,마름,...,78,83,32,22PLA,511259307,올랭피크 리옹,511,003,2024,1
41033,41033,G. 마마르다슈빌리,12,GK,85,GK 적극적 크로스 수비,2000.09.29,199,88,마름,...,37,37,85,22PLA,511262621,FC 로코모티브 / 메탈루르기 루스타비 / 발렌시아 CF / 디나모 트빌리시,511,068,"0672,1056,1126,1312",1
41034,41034,반데르송,13,RM,83,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21,180,74,마름,...,79,82,30,22PLA,511263781,그레미우 / AS 모나코,511,008,"0808,0868",1

In [329]:
# 저장
# data.to_csv('./data/result_version_4.csv', index = False)

## 3. query 별 사용 컬럼 저장

### <team.nation>

In [394]:

temp_data = nations[['nation','nation_pk']]
temp_data
temp_data.to_csv('./data/query_table/team_nation.csv', index = False)

### <team.club>

In [395]:

temp_data = clubs[['club','club_pk']]
temp_data
temp_data.to_csv('./data/query_table/team_club.csv', index = False)

### <player.merge>

In [396]:

temp_data = data[['nation_pk','club_pk','name','pk']]
temp_data

temp_data.to_csv('./data/query_table/player_merge.csv', index = False)

### <player_season>

In [412]:

temp_data = data[['pk','season','season_pk']]
temp_data

temp_data.to_csv('./data/query_table/player_season.csv', index = False)

### <player.season_stats>

In [413]:
temp_data =  data[['season_pk','season','pay_side', 'position', 'overall', 'Sprint_speed', 'Acceleration', 'Finishing','Shot_power', 'Long_shots', 'Positioning', 'Volleys', 'Penalties','Short_pass','Eyesight', 'Crossing','Long_pass','FK_Acc', 'Curve','Dribbling', 'Ball_control','Agility', 'Balance', 'Reflexes','Interpersonal_defense', 'Stand_tackle','Interception','Heading','Slide_tackle','Strength','Stamina','Aggression', 'Jumping','Composure', 'GK_Diving', 'GK_Handling', 'GK_Kicking', 'GK_Reflexes','GK_Positioning','ST','LW','CF','RW','CAM','LM','CM','RM','CDM','LWB','CB','RWB','LB','SW','RB','GK']]   
# 'reinforcement', << 추가
temp_data

,season_pk,season,pay_side,position,overall,Sprint_speed,Acceleration,Finishing,Shot_power,Long_shots,...,CM,RM,CDM,LWB,CB,RWB,LB,SW,RB,GK
0,246,UP,20,LM,99,97,86,89,106,95,...,99,99,99,99,98,99,98,97,98,27
1,246,UP,18,CDM,95,86,83,76,96,90,...,92,88,95,91,95,91,92,95,92,22
2,246,UP,21,ST,101,87,87,110,92,86,...,85,91,71,69,68,69,66,69,66,24
3,246,UP,20,CF,98,100,98,95,98,98,...,93,97,86,86,82,86,84,82,84,29
4,246,UP,17,CM,95,81,86,78,92,88,...,95,90,95,91,91,91,90,90,90,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41030,511,22PLA,13,RM,84,96,97,75,75,74,...,79,84,72,76,67,76,74,66,74,33
41031,511,22PLA,14,CDM,83,65,84,63,87,79,...,79,75,83,79,82,79,79,82,79,30
41032,511,22PLA,12,RB,83,96,93,58,72,59,...,78,81,80,83,78,83,83,78,83,32
41033,511,22PLA,12,GK,85,60,60,26,67,24,...,37,39,36,37,37,37,37,37,37,85
41034,511,22PLA,13,RM,83,87,88,74,73,70,...,81,83,80,82,79,82,82,79,82,30

In [414]:
data.season.unique()

array(['UP', 'EBS', 'MC', 'OTW', 'BWC', '21UCL', '2012KH', '22KFA', 'NTG',
       '21TOTS', '20UCL', 'CFA', 'BTB', '19UCL', 'CAP', 'BOE21', 'GR',
       'TT', 'SPL', 'LN', '22TOTN', '21KLB', '22TOTY', '21TOTN', '22HR',
       '21NG', 'FA', 'LOL', 'WC22', '22TOTS', 'RMCF', 'ICON', 'NHD',
       'TKI', 'TB', 'TC', '18TOTY', 'MCFC', '19TOTS', 'COC', '19TOTY',
       'LH', 'MCICON', 'LIVE', '22PLA', 'HOT', '20TOTN', '19NG', '20TOTY',
       '20TOTS', 'TKL', 'VTR', 'MOG', 'LA', '20NG', '20KLB', '21TOTY',
       '21KFA', '2019KFA', 'KFA', '20', '18', '19', '17', '21'],
      dtype=object)

In [415]:
for index in list(temp_data.season.unique()):
    globals()[f'{index}'] =  temp_data[temp_data.season == index]
    globals()[f'{index}'].to_csv(f'./data/query_table/player_season_stats_{index}.csv', index = False)

### <player.detail_swap>

In [407]:
temp_data = data[[
    'skill_swap',
    'etc_birth', 
    'etc_height', 
    'etc_weight', 
    'etc_physical', 
    'etc_skill',
    'etc_foot']]
temp_data

,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,etc_skill,etc_foot
0,"유리몸, 슬라이딩 태클 선호",1985.08.14,189,81,보통,3,right
1,파워 헤더,1987.02.08,185,80,보통,3,right
2,파워 헤더,1985.02.26,195,90,보통,3,right
3,"화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16,185,78,보통,4,left
4,중거리 슛 선호,1985.01.27,179,78,보통,3,right
...,...,...,...,...,...,...,...
41030,스피드 드리블러,2002.01.10,180,73,마름,3,right
41031,NaN,1997.05.14,181,75,보통,2,right
41032,"슬라이딩 태클 선호, 스피드 드리블러",2003.05.19,179,74,마름,3,right
41033,GK 적극적 크로스 수비,2000.09.29,199,88,마름,1,left
41034,"얼리 크로스 선호, 테크니컬 드리블러",2001.06.21,180,74,마름,3,right

In [408]:
temp_data.isna().sum()

skill_swap      20000
etc_birth           0
etc_height          0
etc_weight          0
etc_physical        0
etc_skill           0
etc_foot            0
dtype: int64

In [409]:
temp_data = temp_data.fillna('-')
temp_data.isna().sum()

skill_swap      0
etc_birth       0
etc_height      0
etc_weight      0
etc_physical    0
etc_skill       0
etc_foot        0
dtype: int64

In [410]:
temp_data
temp_data.to_csv('./data/query_table/player_detail_swap.csv', index = False)

### <player.change>

In [411]:

temp_data = data[['pk','price']]
temp_data

temp_data.to_csv('./data/query_table/player_detail_swap.csv', index = False)