# 선수 데이터 전처리

##### 라이브러리 불러오기

In [237]:
import numpy as np
import pandas as pd

## 1. 데이터 전처리

##### 1.1 기존 선수 정보

#### 1.1.0 데이터 불러오기 및 확인

In [119]:
# 데이터 불러오기
data_1 = pd.read_csv('/Users/krc/Desktop/FIFA-Online-4/crawling/player_info_crawler/player_info/player_db_original.csv')
data_1

,name,pay_side,position,overall,pomation,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,Stamina,Aggression,Jumping,Composure,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price
0,크리스티안 겐트너,20,LM,99,98\n97\n98\n97\n97\n99\n99\n99\n99\n99\n98\n99...,"특성\n유리몸, 슬라이딩 태클 선호",1985.08.14 (38세),189cm,81kg,보통,...,109,96,90,96,12,10,23,22,27,"38,600,000 BP"
1,하비 가르시아,18,CDM,95,88\n86\n88\n86\n88\n88\n92\n88\n95\n91\n95\n91...,특성\n파워 헤더,1987.02.08 (36세),185cm,80kg,보통,...,105,106,105,94,9,14,24,11,18,"13,500,000 BP"
2,요렌테,21,ST,101,101\n93\n97\n93\n93\n91\n85\n91\n71\n69\n68\n6...,특성\n파워 헤더,1985.02.26 (38세),195cm,90kg,보통,...,90,103,94,100,14,23,26,9,13,"63,800,000 BP"
3,무사 뎀벨레,20,CF,98,97\n97\n98\n97\n97\n97\n93\n97\n86\n86\n82\n86...,"특성\n화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16 (36세),185cm,78kg,보통,...,97,85,87,109,27,24,22,12,26,"19,100,000 BP"
4,K. 엘아흐마디,17,CM,95,87\n89\n90\n89\n92\n90\n95\n90\n95\n91\n91\n91...,특성\n중거리 슛 선호,1985.01.27 (38세),179cm,78kg,보통,...,94,100,86,93,14,17,20,13,25,"8,740,000 BP"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59999,A. 크나우프,13,RM,84,79\n85\n83\n85\n83\n84\n79\n84\n72\n76\n67\n76...,특성\n스피드 드리블러,2002.01.10 (21세),180cm,73kg,마름,...,83,67,75,76,26,30,30,25,31,"2,830,000 BP"
60000,K. 야키치,14,CDM,83,75\n73\n75\n73\n76\n75\n79\n75\n83\n79\n82\n79...,특성,1997.05.14 (26세),181cm,75kg,보통,...,93,93,74,79,25,25,21,25,25,"3,560,000 BP"
60001,M. 구스토,12,RB,83,74\n79\n77\n79\n78\n81\n78\n81\n80\n83\n78\n83...,"특성\n슬라이딩 태클 선호, 스피드 드리블러",2003.05.19 (20세),179cm,74kg,마름,...,91,84,79,83,27,24,31,28,26,"3,700,000 BP"
60002,G. 마마르다슈빌리,12,GK,85,41\n37\n39\n37\n37\n39\n37\n39\n36\n37\n37\n37...,특성\nGK 적극적 크로스 수비,2000.09.29 (23세),199cm,88kg,마름,...,58,40,65,41,88,87,83,88,89,"3,740,000 BP"
60003,반데르송,13,RM,83,79\n83\n81\n83\n82\n83\n81\n83\n80\n82\n79\n82...,"특성\n얼리 크로스 선호, 테크니컬 드리블러",2001.06.21 (22세),180cm,74kg,마름,...,84,81,67,82,25,25,23,24,23,"3,390,000 BP"

In [137]:
# 컬럼 확인
print(data_1.columns)
print('\n'*2,'+ - '*30+'+','\n'*2)

# 결측값 확인
print(data_1.isna().sum().sort_values())

Index(['name', 'pay_side', 'position', 'overall', 'pomation', 'skill_swap',
       'etc_birth', 'etc_height', 'etc_weight', 'etc_physical', 'etc_skill',
       'etc_foot', 'etc_nation', 'Sprint_speed', 'Acceleration', 'Finishing',
       'Shot_power', 'Long_shots', 'Positioning', 'Volleys', 'Penalties',
       'Short_pass', 'Eyesight', 'Crossing', 'Long_pass', 'FK_Acc', 'Curve',
       'Dribbling', 'Ball_control', 'Agility', 'Balance', 'Reflexes',
       'Interpersonal_defense', 'Stand_tackle', 'Interception', 'Heading',
       'Slide_tackle', 'Strength', 'Stamina', 'Aggression', 'Jumping',
       'Composure', 'GK_Diving', 'GK_Handling', 'GK_Kicking', 'GK_Reflexes',
       'GK_Positioning', 'price'],
      dtype='object')


 + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - +


name                     0
Curve                    0
Dribbling                0
Ball_control             0
Agility                  0
Balance                  0
Reflexes                 0
Interpersonal_defense    0
Stand_tackle             0
Interception             0
FK_Acc                   0
Heading                  0
Strength                 0
Stamina                  0
Aggression               0
Jumping                  0
Composure                0
GK_Diving                0
GK_Handling              0
GK_Kicking               0
GK_Reflexes              0
Slide_tackle             0
Long_pass                0
Crossing                 0
Eyesight                 0
pay_side                 0
position                 0
overall                  0
pomation                 0
skill_swap               0
etc_birth                0
etc_height               0
etc_weight               0
etc_physical             0
etc_skill                0
etc_foot                 0
Sprint_speed             0
Acceleration             0
Finishing                0
Shot_power               0
Long_shots               0
Positioning              0
Volleys                  0
Penalties                0
Short_pass               0
GK_Positioning           0
price                    0
etc_nation               3
dtype: int64

#### 1.1.1 소속 국가 없는 선수들 수정

In [138]:
# 해당 선수 검색
data_1[data_1.etc_nation.isnull() ] # P. 치라이스: 독일   /   N. 오포보어: 나이지리아   /   메리 데미랄: 튀르키예

,name,pay_side,position,overall,pomation,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,Stamina,Aggression,Jumping,Composure,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price
11561,P. 치라이스,5,CB,64,44\n48\n46\n48\n48\n51\n51\n51\n60\n59\n64\n59...,특성\n유리몸,1993.03.14 (30세),189cm,82kg,마름,...,51,67,69,63,12,11,11,10,11,"1,010 BP"
17795,N. 오포보어,5,CDM,59,55\n55\n56\n55\n57\n56\n57\n56\n59\n57\n60\n57...,특성,1999.11.07 (24세),175cm,80kg,건장,...,67,66,78,55,10,12,11,10,15,"1,000 BP"
59895,메리 데미랄,14,CB,87,66\n63\n64\n63\n64\n65\n68\n65\n80\n77\n87\n77...,"특성\n슬라이딩 태클 선호, 파워 헤더",1998.03.05 (25세),190cm,86kg,보통,...,79,94,82,84,32,25,30,28,24,"5,040,000 BP"

In [140]:
# 수정
data_1.etc_nation.iloc[11561] = '독일'
data_1.etc_nation.iloc[17795] = '나이지리아'
data_1.etc_nation.iloc[59895] = '튀르키예'

# 확인
data_1[data_1.etc_nation.isnull() ]

/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_27237/1464126522.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.etc_nation.iloc[11561] = '독일'
/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_27237/1464126522.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.etc_nation.iloc[17795] = '나이지리아'
/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_27237/1464126522.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_1.etc_nation.iloc[59895] = '튀르키예'

Empty DataFrame
Columns: [name, pay_side, position, overall, pomation, skill_swap, etc_birth, etc_height, etc_weight, etc_physical, etc_skill, etc_foot, etc_nation, Sprint_speed, Acceleration, Finishing, Shot_power, Long_shots, Positioning, Volleys, Penalties, Short_pass, Eyesight, Crossing, Long_pass, FK_Acc, Curve, Dribbling, Ball_control, Agility, Balance, Reflexes, Interpersonal_defense, Stand_tackle, Interception, Heading, Slide_tackle, Strength, Stamina, Aggression, Jumping, Composure, GK_Diving, GK_Handling, GK_Kicking, GK_Reflexes, GK_Positioning, price]
Index: []

[0 rows x 48 columns]

#### 1.1.2 국가가 잘못 기입된 선수 수정

In [141]:
# ', 국가대표'라고 입력된 값 찾기
data_1.etc_nation = data_1.etc_nation.str.replace(', 국가대표','')

# 수정
data_1[data_1.etc_nation.str.contains(', 국가대표') == True]

Empty DataFrame
Columns: [name, pay_side, position, overall, pomation, skill_swap, etc_birth, etc_height, etc_weight, etc_physical, etc_skill, etc_foot, etc_nation, Sprint_speed, Acceleration, Finishing, Shot_power, Long_shots, Positioning, Volleys, Penalties, Short_pass, Eyesight, Crossing, Long_pass, FK_Acc, Curve, Dribbling, Ball_control, Agility, Balance, Reflexes, Interpersonal_defense, Stand_tackle, Interception, Heading, Slide_tackle, Strength, Stamina, Aggression, Jumping, Composure, GK_Diving, GK_Handling, GK_Kicking, GK_Reflexes, GK_Positioning, price]
Index: []

[0 rows x 48 columns]

#### 1.1.3 포메이션 별 오버롤 입력 (>>안해도 됨! 성철이형 데이터 불러오기!)

In [149]:
data_1.pomation.iloc[2]

'101\n93\n97\n93\n93\n91\n85\n91\n71\n69\n68\n69\n66\n69\n66\n24'

### 1.2 시즌 & 소속팀 선수 정보

#### 1.2.0 데이터 불러오기 및 확인

In [120]:
# 데이터 불러오기
data_2 = pd.read_csv('/Users/krc/Desktop/FIFA-Online-4/crawling/player_info_crawler/player_info/player_db.csv')
data_2

,name,overall,season,team,team_now,Stamina,pk
0,미첼 바이저,81,22PLA,2022 ~\n베르더 브레멘\n2018 ~ 2022\n바이엘 04 레버쿠젠\n202...,베르더 브레멘,82,511206591
1,솔리 마치,83,22PLA,2013 ~\n브라이턴 호브 앨비언,브라이턴 호브 앨비언,85,511206594
2,마테오 코바치치,90,22PLA,2019 ~\n첼시\n2015 ~ 2019\n레알 마드리드\n2018 ~ 2019\...,첼시,87,511207410
3,레안드로 트로사르,87,22PLA,2019 ~\n브라이턴 호브 앨비언\n2012 ~ 2019\nRC 겡크\n2015 ...,브라이턴 호브 앨비언,84,511207421
4,레안드로 파레데스,88,22PLA,2019 ~\n파리 생제르맹\n2022 ~\n유벤투스\n임대\n2017 ~ 2019...,유벤투스,84,511207439
...,...,...,...,...,...,...,...
48525,L. 도스 산토스,60,21,NaN,발랑시엔 FC,67,321215969
48526,O. 베니테스,60,21,NaN,파트로나토,60,321215990
48527,네리 도밍게스,67,21,NaN,라싱 클루브 데 아베야네다,63,321216054
48528,미구엘 반 담,56,21,NaN,세르클러 브루게,19,321216106
48529,D. 화이트해드,55,21,NaN,NaN,60,321216111

In [133]:
# 컬럼 확인
print(data_2.columns)
print('\n'*2,'+ - '*30+'+','\n'*2)

# 결측값 확인
print(data_2.isna().sum())

Index(['name', 'overall', 'season', 'team', 'team_now', 'Stamina', 'pk'], dtype='object')


 + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - + - +


name            0
overall         0
season          0
team        36244
team_now     9707
Stamina         0
pk              0
dtype: int64

#### 1.2.1 소속팀 없는 선수 걸러내기

In [129]:
# 현재 & 과거 소속팀 기록 둘 다 없는 선수 불러오기
temp_1 = data_2[((data_2.team.isnull()) & (data_2.team_now.isnull())) | ((data_2.team.isnull()) & (data_2.team_now == '-')) ]     # 다시 크롤링..? 
temp_1

            name  overall season team team_now  Stamina         pk
649       티아고 모타       80    NHD  NaN        -       77  201049370
661      C. 벤 사다       63    NHD  NaN        -       58  201111503
662    야로슬라프 플라실       73    NHD  NaN        -       79  201112244
669      슈테판 키슬링       77    NHD  NaN        -       79  201137262
671      로베르트 후트       76    NHD  NaN        -       82  201137785
...          ...      ...    ...  ...      ...      ...        ...
48507    F. 히어켄스       63     21  NaN      NaN       71  321215527
48514        사미르       67     21  NaN      NaN       61  321215651
48523    M. 달 헤네       59     21  NaN      NaN       71  321215938
48524  C. 스트란드버그       65     21  NaN      NaN       70  321215965
48529   D. 화이트해드       55     21  NaN      NaN       60  321216111

[8661 rows x 7 columns]

In [130]:
temp_2 = temp_1[(temp_1.season != '21') & (temp_1.season != '20')& (temp_1.season != '19')& (temp_1.season != '18')& (temp_1.season != '17')& (temp_1.season != 'LIVE')]

# temp_2.to_csv("재크롤링필요.csv", index = False)
temp_2

           name  overall   season team team_now  Stamina         pk
649      티아고 모타       80      NHD  NaN        -       77  201049370
661     C. 벤 사다       63      NHD  NaN        -       58  201111503
662   야로슬라프 플라실       73      NHD  NaN        -       79  201112244
669     슈테판 키슬링       77      NHD  NaN        -       79  201137262
671     로베르트 후트       76      NHD  NaN        -       82  201137785
...         ...      ...      ...  ...      ...      ...        ...
2544  마르셀루 고이아누       90   19TOTS  NaN      NaN       97  215216373
2564       소아리스       91   19TOTS  NaN      NaN       88  215227476
3183        사무엘       78      OTW  NaN      NaN       82  218209017
9034        정호진       71  2019KFA  NaN        -       75  295251160
9035         최준       71  2019KFA  NaN        -       77  295251161

[116 rows x 7 columns]

In [ ]:
# NHD 시즌 같은 경우 클럽 소속팀이 아에 기입되지 않음 >> 다른 시즌 카드와 비교하여 기입 필요!

#### 1.2.2 팀 경력 합쳐주기

In [131]:
temp_3 = data_2[~(((data_2.team.isnull()) & (data_2.team_now.isnull())) | ((data_2.team.isnull()) & (data_2.team_now == '-')))]
temp_3

,name,overall,season,team,team_now,Stamina,pk
0,미첼 바이저,81,22PLA,2022 ~\n베르더 브레멘\n2018 ~ 2022\n바이엘 04 레버쿠젠\n202...,베르더 브레멘,82,511206591
1,솔리 마치,83,22PLA,2013 ~\n브라이턴 호브 앨비언,브라이턴 호브 앨비언,85,511206594
2,마테오 코바치치,90,22PLA,2019 ~\n첼시\n2015 ~ 2019\n레알 마드리드\n2018 ~ 2019\...,첼시,87,511207410
3,레안드로 트로사르,87,22PLA,2019 ~\n브라이턴 호브 앨비언\n2012 ~ 2019\nRC 겡크\n2015 ...,브라이턴 호브 앨비언,84,511207421
4,레안드로 파레데스,88,22PLA,2019 ~\n파리 생제르맹\n2022 ~\n유벤투스\n임대\n2017 ~ 2019...,유벤투스,84,511207439
...,...,...,...,...,...,...,...
48522,틴 예드바이,68,21,2021 ~\n로코모티브 모스크바\n2015 ~ 2021\n바이엘 04 레버쿠젠\n...,NaN,62,321215930
48525,L. 도스 산토스,60,21,NaN,발랑시엔 FC,67,321215969
48526,O. 베니테스,60,21,NaN,파트로나토,60,321215990
48527,네리 도밍게스,67,21,NaN,라싱 클루브 데 아베야네다,63,321216054
48528,미구엘 반 담,56,21,NaN,세르클러 브루게,19,321216106

In [135]:
temp_3.team.iloc[0]

'2022 ~\n베르더 브레멘\n2018 ~ 2022\n바이엘 04 레버쿠젠\n2021 ~ 2022\n베르더 브레멘\n임대\n2015 ~ 2018\n헤르타 베를린\n2012 ~ 2015\n바이에른 뮌헨\n2013 ~ 2013\n1. FC 카이저슬라우테른\n임대'

In [242]:

def club_career_remover(index_num):
    temp_4 = temp_3.team.iloc[index_num]
    temp_4 = temp_4.replace('임대','').replace('~','')
    temp_4 = temp_4.split('\n')
    temp_4 = list(filter(None, temp_4))

    temp_5 = []
    for x in range(len(temp_4)):
        if x % 2 == 1:
            temp_5.append(temp_4[x])
            temp_5 = list(set(temp_5))
            
    return temp_5

In [248]:
temp_3.team.iloc[1222]

['베르더 브레멘', '에버턴', '아약스']

In [243]:
# 먼저 NaN 값 부터 처리후 밑 코드 돌리기!

for index in range(len(temp_3)):
    temp_a = club_career_remover(index)
    temp_3.team.iloc[index] = temp_a
    
temp_3

/var/folders/m5/tzr8xd5j6r9225p8yycbspkw0000gn/T/ipykernel_27237/1203162494.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_3.team.iloc[index] = temp_a

AttributeError: 'float' object has no attribute 'replace'

### 2.

In [151]:
# 'name','overall','Stamina' 기준으로 합치기
data_merge = pd.merge(data_1,data_2, how = 'inner', on=['name','overall','Stamina'] )
data_merge

,name,pay_side,position,overall,pomation,skill_swap,etc_birth,etc_height,etc_weight,etc_physical,...,GK_Diving,GK_Handling,GK_Kicking,GK_Reflexes,GK_Positioning,price,season,team,team_now,pk
0,크리스티안 겐트너,20,LM,99,98\n97\n98\n97\n97\n99\n99\n99\n99\n99\n98\n99...,"특성\n유리몸, 슬라이딩 태클 선호",1985.08.14 (38세),189cm,81kg,보통,...,12,10,23,22,27,"38,600,000 BP",UP,2021 ~\nFC 루체른\n2019 ~ 2021\n1. FC 우니온 베를린\n20...,-,246158856
1,하비 가르시아,18,CDM,95,88\n86\n88\n86\n88\n88\n92\n88\n95\n91\n95\n91...,특성\n파워 헤더,1987.02.08 (36세),185cm,80kg,보통,...,9,14,24,11,18,"13,500,000 BP",UP,2020 ~ 2022\n보아비스타\n2017 ~ 2020\n레알 베티스\n2014 ...,-,246161754
2,요렌테,21,ST,101,101\n93\n97\n93\n93\n91\n85\n91\n71\n69\n68\n6...,특성\n파워 헤더,1985.02.26 (38세),195cm,90kg,보통,...,14,23,26,9,13,"63,800,000 BP",UP,2021 ~ 2022\nSD 에이바르\n2021 ~ 2021\n우디네세\n2019 ...,-,246162131
3,무사 뎀벨레,20,CF,98,97\n97\n98\n97\n97\n97\n93\n97\n86\n86\n82\n86...,"특성\n화려한 개인기, 중거리 슛 선호, 테크니컬 드리블러",1987.07.16 (36세),185cm,78kg,보통,...,27,24,22,12,26,"19,100,000 BP",UP,2019 ~ 2022\n광저우 시티\n2012 ~ 2019\n토트넘 홋스퍼\n201...,-,246162240
4,K. 엘아흐마디,17,CM,95,87\n89\n90\n89\n92\n90\n95\n90\n95\n91\n91\n91...,특성\n중거리 슛 선호,1985.01.27 (38세),179cm,78kg,보통,...,14,17,20,13,25,"8,740,000 BP",UP,2018 ~ 2022\n알이티하드\n2014 ~ 2018\n페예노르트\n2012 ~...,-,246162329
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49827,A. 크나우프,13,RM,84,79\n85\n83\n85\n83\n84\n79\n84\n72\n76\n67\n76...,특성\n스피드 드리블러,2002.01.10 (21세),180cm,73kg,마름,...,26,30,30,25,31,"2,830,000 BP",22PLA,2020 ~\n보루시아 도르트문트\n2022 ~\n아인트라흐트 프랑크푸르트\n임대,아인트라흐트 프랑크푸르트,511257540
49828,K. 야키치,14,CDM,83,75\n73\n75\n73\n76\n75\n79\n75\n83\n79\n82\n79...,특성,1997.05.14 (26세),181cm,75kg,보통,...,25,25,21,25,25,"3,560,000 BP",22PLA,2022 ~\n아인트라흐트 프랑크푸르트\n2020 ~ 2022\n디나모 자그레브\n...,아인트라흐트 프랑크푸르트,511257889
49829,M. 구스토,12,RB,83,74\n79\n77\n79\n78\n81\n78\n81\n80\n83\n78\n83...,"특성\n슬라이딩 태클 선호, 스피드 드리블러",2003.05.19 (20세),179cm,74kg,마름,...,27,24,31,28,26,"3,700,000 BP",22PLA,2021 ~\n올랭피크 리옹,올랭피크 리옹,511259307
49830,G. 마마르다슈빌리,12,GK,85,41\n37\n39\n37\n37\n39\n37\n39\n36\n37\n37\n37...,특성\nGK 적극적 크로스 수비,2000.09.29 (23세),199cm,88kg,마름,...,88,87,83,88,89,"3,740,000 BP",22PLA,2021 ~\n발렌시아 CF\n2018 ~ 2022\n디나모 트빌리시\n2021 ~...,발렌시아 CF,511262621
49831,반데르송,13,RM,83,79\n83\n81\n83\n82\n83\n81\n83\n80\n82\n79\n82...,"특성\n얼리 크로스 선호, 테크니컬 드리블러",2001.06.21 (22세),180cm,74kg,마름,...,25,25,23,24,23,"3,390,000 BP",22PLA,2022 ~\nAS 모나코\n2021 ~ 2022\n그레미우,AS 모나코,511263781

In [ ]:
'''
<team.nation>
'etc_nation'
'etc_nation'_pk

<team.club>
                        'club_career'
'club_career'_pk

<player.merge>
'etc_nation'_pk
'club_career'_pk
'name'
                            api_num_pk

<player_season>
api_num_pk
                            'season'
'season'_pk
 
<player.season_stats> 
'season'_pk
                            'reinforcement'
season

'pay_side', 
'position', 
'overall', 
'pomation', 
'Sprint_speed', 
'Acceleration', 
'Finishing',
'Shot_power', 
'Long_shots', 
'Positioning', 
'Volleys', 
'Penalties',
'Short_pass',
'Eyesight', 
'Crossing',
'Long_pass',
'FK_Acc', 
'Curve',
'Dribbling', 
'Ball_control',
'Agility', 
'Balance', 
'Reflexes',
'Interpersonal_defense', 
'Stand_tackle',
'Interception',
'Heading',
'Slide_tackle',
'Strength',
'Stamina',
'Aggression', 
'Jumping',
'Composure', 
'GK_Diving', 
'GK_Handling', 
'GK_Kicking', 
'GK_Reflexes',
'GK_Positioning',
 


<player.detail_swap>
'skill_swap',
'etc_birth', 
'etc_height', 
'etc_weight', 
'etc_physical', 
'etc_skill',
'etc_foot', 

    
<player.change>
'price'_pk
'price'

'''